@using LiXinLanguage
@using System.Configuration
@{
    ViewBag.Title = "ImportUser";
    Layout = null;
    var order = Request.QueryString["order"];
}
<script src="../../Scripts/uploadify-v3.1/jquery.uploadify-3.1.min.js" type="text/javascript"></script>
<link href="../../Scripts/uploadify-v3.1/uploadify.css" rel="stylesheet" type="text/css" />
<form id="surveyQ">
<div class="centerbody">
    <form id="formattend" method="post" enctype="multipart/form-data" action="">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">
                    <span class="must">*</span>问题：
                </td>
                <td>
                    <input id="surveyfile" name="surveyfile" type="file" />
                </td>
            </tr>
            <tr>
                <td colspan="2" class="tc">
                    <input type="button" class="btn" flag="0" onclick="SaveFile();" value="提交" />
                    <input type="button" class="btn  btn-cancel" onclick="closeDialog('art_importQuestion')"
                        value="取消" />
                </td>
            </tr>
        </table>
    </form>
</div>
</form>
<script type="text/javascript">

    function SaveFile()
    {
        if (FileCheck())
        {
            $("#surveyQ").submitForm({
                url: "/Survey/SubmitImportQuestion?order=@(order)",
                callback: function (data)
                {
                    // debugger;
                    if (data.result == 1)
                    {
                        art.dialog.tips(data.content, 3);
                        $("#singleT").html(parseInt($("#singleT").html()) + data.single);
                        $("#multipeT").html(parseInt($("#multipeT").html()) + data.Multi);
                        $("#zT").html(parseInt($("#zT").html()) + data.subject);
                        $("#xp").html(parseInt($("#xp").html()) + data.xingp);
                        var temID = "ImportquestionTemplate";
                        if ($("#paperType").val() == 3)
                        {
                            temID = "NewImportquestionTemplate";
                        }
                       
                        $("#questionList").append($("#" + temID).render(data.questionlist));
                        showStars();
                        closeDialog("art_importQuestion");
                    }
                    else
                    {
                        art.dialog.tips(data.content, 3);
                    }
                }
            }).submit();
        }
    }

    function FileCheck()
    {
        var fileName = $("#surveyfile").val();
        var extStart = fileName.lastIndexOf(".");
        var ext = fileName.substring(extStart, fileName.length).toLowerCase();
        //debugger;
        if (ext != ".xls" && ext != ".xlsx")
        {
            art.dialog.tips("请选择正确的excel文件导入", 3);
            return false;
        }
        return true;  
    }
</script>
