@charset "utf-8";
/* CSS Document */

html,body{background:#f5f5f5;font-family: Verdana;color:#333;z-index:0;}

a{color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}


#head{margin:0 auto;padding-bottom:6px;width:100%;min-width:1002px;background:#e6e6e6;position:relative;z-index:5;}
#head center{margin:0 auto;width:1002px;}
#head .fl,#head .fr{padding:5px 0;line-height:20px;}
#head .fl a,#head .fr a{margin-left:5px;}
#head .fl a:hover,#head .fr a:hover{font-weight:bold;}
#head .fr a.back{display:inline-block;margin:-3px 0;padding:3px 5px;background:#d4004a;color:#fff;position:relative;}
#head .fr a.back i{position:absolute;top:0;left:-20px;width:25px;height:25px;background:url(../Images/other-bg.png) -120px -190px no-repeat;}


#menu{width:100%;border-top:1px solid #fff;}
#menu center{height:70px;background:url(../images/logo.png) 0 20px no-repeat;position:relative;}
#menu .menu-con{position:absolute;left:125px;bottom:-7px;}
#menu .menu-con a{color:#fcf5eb;font:14px "微软雅黑";line-height:50px;cursor:pointer;}
#menu .menu-con li{float:left;position:relative;}
#menu .menu-con li a{padding:0 10px;height:50px;display:inline-block;}
#menu .menu-con li a:hover{text-decoration:none;}
#menu .menu-con li i{position:absolute;top:40px;left:45%;width:7px;height:4px;background:url(../images/other-bg.png) -20px 0 no-repeat;overflow:hidden;}


#main select{z-index:10;position:relative;}
#menu .menu-con li ul{display:none;}
#menu .menu-con li:hover ul{display:block;position:absolute;top:56px;left:0;min-width:100%;}
#menu .menu-con li ul li{float:inherit;}
#menu .menu-con li ul li a{padding:0;display:block;width:170px;height:auto;border:none 0;font-size:12px;color:#fff;white-space:nowrap;text-align:left;}
#menu .menu-con li ul li:first-child{margin-top:5px;}
#menu .menu-con li ul li:last-child{margin-bottom:5px;}
#menu .menu-con li ul li:last-child a{border:none 0;}
#menu .menu-con li ul li a span{margin:0 10px;padding:0;line-height:30px;}




#main:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
#main{margin:0 auto;width:1002px;zoom:1;position:relative;z-index:3;}
#main .main-l{width:200px;background:#e5e5e5;float:left;}
#main .main-r{padding:10px 0;width:790px;float:right;}
#main .main-c{padding:10px 0;}

.perInfo{padding:10px;background:#fff;position:relative;}
.perInfo .pi-img{margin:0 auto;padding:2px;width:130px;height:130px;border:2px solid #e6e6e6;overflow:hidden;}
.perInfo .pi-img img{width:100%;height:100%;overflow:hidden;}
.perInfo .pi-list{margin:10px auto;width:140px;}
.perInfo .pi-list li{padding:4px 0;}
.perInfo .pi-re{padding-top:5px;}
.perInfo .pi-re ul li{border-bottom:1px dotted #999;line-height:30px;text-indent:20px;}
.perInfo .progress-stats{margin-top:10px;}
.perInfo .per{position:absolute;bottom:10px;left:10px;}

#footer{width:100%;background:#00307c;border-top:5px solid #0f3f8b;}
#footer center{margin:0 auto;padding:10px 0;width:1002px;color:#fff;line-height:20px;}

.popwindow{width:300px;min-height:120px;background:#fff;border:5px solid #a1b7c8;z-index:10000;position: fixed !important/* FF IE7*/;position: absolute /*IE6*/;_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : /*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2); /*IE5 IE5.5*/}
.popwindow h4{padding:5px;height:20px;background:#eee;border-bottom:1px dotted #ccc;font-size:12px;font-weight:bold;line-height:20px;}
.popwindow h4 #poptitle{float:left;}
.popwindow h4 a{float:right;cursor:pointer;}
.popwindow .popcontent,.popwindow #popcontent{margin:0 auto;width:100%;overflow-x:hidden;overflow-y:auto;}
.popmask, .popIframe{background-color: #666;display: none;width: 100%;height: 100%;left: 0;top: 0; /*FF IE7*/filter: alpha(opacity=50); /*IE*/opacity: 0.5; /*FF*/z-index: 9999;position: fixed !important; /*FF IE7*/position: absolute; /*IE6*/_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (document.documentElement.clientHeight-this.offsetHeight)/2 : /*IE6*/ document.body.scrollTop + (document.body.clientHeight - this.clientHeight)/2);
}
.popIframe{filter: alpha(opacity=0); /*IE*/opacity: 0; /*FF*/}