@charset "utf-8";
/* CSS Document */


.menu{background:#965a23;border-bottom:1px solid #6f3500;}
.menu .menu-con li a{border-bottom:6px solid #e6e6e6;}
.menu .menu-con li a:hover,.menu .menu-con li:hover a{background:#8f4d10;border-bottom:6px solid #da8231;}
.menu .menu-con li a.On,.menu .menu-con li a.On:hover{background:#834002;border-bottom:6px solid #da8231;}
.menu .menu-con li ul li a,.menu .menu-con li:hover li a,.menu .menu-con li:hover ul{background:#a96120;}
#menu .menu-con li ul li a{border-bottom:1px dotted #c27631;}
.menu .menu-con li ul li a:hover{background:#834002;}




/* input & select & button & textarea ------ */
.btn-co{background:#975a23;}
.btn-co:hover{background:#bf8148;}
.btn-co.disabled,.btn-co[disabled]{background:#cdae92;cursor:default;}