@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <h2 class="tit-h2 mt10">
        <i></i>
        <span class="tit-con">补考次数配置</span>
    </h2>
</body>
</html>
