@{
    Layout = null;
}


<ul>
            <li>
                @Html.ActionLink("邮箱设置", "Email", "ParamConfig")
                           
            </li>
            <li>
                @Html.ActionLink("test", "test", "ParamConfig")         
            </li>
 </ul>