<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="Retech" type="Retech.Config.RetechConfigurationSection, Retech.Config" requirePermission="false"
             restartOnExternalChanges="false" />
    <section name="loginConfigs" type="LiXinCommon.Configs.LoginConfigurationSection, LiXinCommon" />
    <section name="excludeUrls" type="LiXinCommon.Configs.UrlExcludeConfigurationSection, LiXinCommon" />
    <section name="RabbitMQ" type="RabbitMQClient.ConfigSection.RabbitMQConfigSection,RabbitMQClient" />
    <!-- 错误等日志 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <unity configSource="Configs\unity.config" />
  <Retech configSource="Configs\retech.config" />
  <excludeUrls configSource="Configs\excludeUrls.config" />
  <loginConfigs>
    <!--登录相关配置-->
    <Configurations allowFailurePasswordCount="5" isShowLoginVaildateCode="false" SuperAdmin="superadmin"
                    SuperPassword="zPWL">
    </Configurations>
  </loginConfigs>

  <appSettings>
    <!-- 单点登录，systemid -->
    <add key="loginFrom" value="OA" />
    <!-- 单点登录失败，返回的URL -->
    <add key="loginFailUrl" value="/Login/Index" />
    <!-- 单点登录公共登录页面url -->
    <add key="commonLoginUrl" value="/Login/Index" />
    <!-- 管理员登录参数 -->
    <add key="adminloginer" value="admin" />

    <!-- MongoDB的数据集合配置 -->
    <!--<add key="MongodbConnectionString" value="mongodb://192.168.100.252" />
    <add key="MongodbName" value="lixintestnew"/>-->
    <add key="MongodbConnectionString" value="mongodb://192.168.100.237" />
    <!--<add key="MongodbName" value="lixinReport"/>-->
    <add key="MongodbName" value="lixintest"/>


    
    <!--Scorm配置-->
    <add key="scormPlay" value="http://192.168.100.250:8877/Frameset/RetechWebPlayer.aspx?AttemptId=" />
    <add key="learningComponentsConnnectionString" 
         value="server=192.168.100.180\sql2008;database=LiXinLMSNewScormWare1;uid=sa;pwd=Retech123456" />
    <add key="packageStoreDirectoryPath" value="D:\BasicWebPlayerPackages" />

    
    <add key="UFCODepResource" value="~/UploadFiles/UFCODepResource/" />

    <!--集中授课上传时 保存的资源文件及附件路径  UFCO 意为 Upload Files Course -->
    <add key="UFCOResource" value="~/UploadFiles/UFCOResource/" />
    <!--视频课程上传时 保存的SCORM资源文件路径  UFCO 意为 Upload Files Course -->
    <add key="UFCOScorm" value="~/UploadFiles/UFCOScorm/" />
    <!--视频课程上传时 保存的SCORM资源文件路径  UFCO 意为 Upload Files Course -->
    <add key="UFCOVideo" value="~/UploadFiles/UFCOVideo/" />

    <!--新进员工集中授课 附件文件路径  UFCO 意为 Upload Files Course -->
    <add key="NewCourseFile" value="~/UploadFiles/NewCourseFile/" />

    <!---->
    <add key="UFCONoteResource" value="~/UploadFiles/UFCONoteResource/" />

    <add key="ClassRoomResource" value="~/UploadFiles/ClassRoomResource/" />

    <!--视频课程上传时 保存的SCORM资源文件路径  UFCO 意为 Upload Files Course -->
    <add key="UFCOVideoZIP" value="W:" />
    <add key="UFCOVideoADDR" value="\\192.168.4.250\LiXinVedioPlay" />
    <add key="UFCOVideoUSR" value="administrator" />
    <add key="UFCOVideoPwd" value="dinglin" />

    <!--视频上传服务地址-->
    <add key="uploadServiceUrl" value="http://localhost:11472/" />

    <!--考勤 签到表的文件路径-->
    <add key="AttendceUrl" value="~/UploadFiles/AttendceUrl/" />


    <!--问卷管理的文件路径-->
    <add key="SurveyUrl" value="~/UploadFiles/Survey/" />

    <!--违纪申辩文件路径-->
    <add key="PrinUrl" value="~/UploadFiles/Principle/" />

    <!--头像原文件的文件路径-->
    <add key="OLDphotoUrl" value="~/UploadFiles/oldphoto/" />
    <!--头像新文件的文件路径-->
    <add key="NEWphotoUrl" value="~/UploadFiles/newphoto/" />

    <!--政策附件上传路径-->
    <add key="UFCONoteResource" value="~/UploadFiles/UFCONoteResource/" />

    <!--新员工导入保存路径-->
    <add key="NewUserUrl" value="~/UploadFiles/NewUser/"/>

    <!--评分导入保存路径-->
    <add key="NewSurveyUrl" value="~/UploadFiles/NewSurvey/"/>

    <!--评分导入保存路径-->
    <add key="NewScoreUrl" value="~/UploadFiles/NewScore/"/>

    <!--公告附件保存-->
    <add key="NoteFile" value="~/UploadFiles/NoteFile/"/>

    <!--部门分所附件保存路径-->
    <add key="DepTranFileUrl" value="~/UploadFiles/DepTranFile/"/>

    <!--知识管理 上传图片的路径 ( add by yxt 2013-07-31)-->
    <add key="ReResourceImg" value="~/UploadFiles/ReResourceImg/" />
    <!--知识管理 上传文件的路径 ( add by yxt 2013-07-31)-->
    <add key="ReResourceOldFile" value="~/UploadFiles/ReResourceOldFile/" />
    <!--知识管理 上传文件转换的路径( add by yxt 2013-07-31)-->
    <add key="ReResourceConvertFile" value="~/UploadFiles/ReResourceConvertFile/" />
    
    <!--免修上传资料路径-->
    <add key="FreeUplpadUrl" value="~/UploadFiles/FreeUpload"/>
    
    <!--免修上传资料转换路径-->
    <add key="FreeUplpadConvertUrl" value="~/UploadFiles/FreeUploadConvert"/>
    
    <!--公告背景图片-->
    <add key="NoteBackImage" value="~/UploadFiles/NoteBackImage/"/> 
    
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--视频转换工具-->
    <add key="FfmpegPath" value="../Scripts/Process/MediaToFlv/ffmpeg.exe"/>
 
    <!--HR同步设置-->

    <!--数据库连接字条串-->
    <add key="HRSqlConnection" value="server=192.168.100.180\sql2008;database=LiXinHr20130401;uid=sa;pwd=Retech123456"/>
    <!--同步的User视图名-->
    <add key="HRUserTable" value="v_person"/>
    <!--同步的Dept视图名-->
    <add key="HRDeptTable" value="V_deptcode"/>
    <!--用户表的变更记录表-->
    <add key="HRUserChangeTable" value="OrgMemberModifyLog"/>

    <!--指纹库信息同步设置-->
    <!--HR指纹信息数据库连接字条串-->
    <add key="UserFingerSqlConnection" value="server=192.168.4.104\sql2008;database=kaoqinlx;uid=sa;pwd=Retech123456"/>
    <!--原培训指纹信息系统数据库连接字条串-->
    <add key="TrainUserFingerSqlConnection" value="server=192.168.4.104\sql2008;database=kaoqinlx;uid=sa;pwd=123456"/>
    <!--原培训培训级别同步字符串-->
    <add key="TrainGradeSqlConnection" value="server=192.168.100.180\sql2008;database=olduser;uid=sa;pwd=Retech123456"/>

    <!--RabbitMQ 消息队列 Beat FileTransfer  后期采用Section-->
    <!--RabbitMQ所在服务器 短信-->
    <add key="Rabbit_serverAddress" value="amqp://192.168.100.180:5672/"></add>
    
    <!--RabbitMQ所在服务器 邮件-->
    <add key="Rabbit_EmailAddress" value="amqp://192.168.100.180:5672/"></add>
    
    <add key="Rabbit_userName" value="retech"></add>
    <add key="Rabbit_password" value="123456"></add>
    <!--路由-->
    <add key="Rabbit_exchange" value="routing"></add>
    <!--交换模式-->
    <add key="Rabbit_exchangeType" value="direct"></add>
    <!--路由关键字-->
    <add key="Rabbit_routingKey" value="rk"></add>
    <!--队列名称-->
    <add key="Rabbit_queue" value="myQueue"></add>
    <!--email队列名称-->
    <add key="email_queue" value="emailQueue"></add>
    <!--虚拟机名-->
    <add key="Rabbit_SendMessageTrans" value="dnt_mq"></add>
    <!--虚拟机名 Email-->
    <add key="Rabbit_SendEmail" value="smtp_mq"></add>

    <!--同步结果发送至邮箱-->
    <add key="SyncResultEmail" value="guohl@retechcorp.com"/>

    <!--RabbitMQ 消息队列 (知识管理中心文件转换使用 add by yxt 2013-07-31) 开始-->
    <!--RabbitMQ所在服务器-->
    <add key="Resource_serverAddress" value="amqp://192.168.100.180:5672/"></add>
    <add key="Resource_userName" value="retech"></add>
    <add key="Resource_password" value="123456"></add>
    <!--路由-->
    <add key="Resource_exchange" value="routing"></add>
    <!--交换模式-->
    <add key="Resource_exchangeType" value="direct"></add>
    <!--路由关键字-->
    <add key="Resource_routingKey" value="rk"></add>
    <!--队列名称-->
    <add key="Resource_queue" value="myQueue"></add>
    <!--知识库用——虚拟机名-->
    <add key="Resource_virtualHost" value="fileTrans_mq"></add>

    <!--免修用——虚拟机名-->
    <add key="Free_virtualHost" value="FreefileTrans_mq"></add>
    <!--RabbitMQ 消息队列 (知识管理中心文件转换使用 add by yxt 2013-07-31) 结束-->
  </appSettings>

  <system.web>
    <identity impersonate="true"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <httpRuntime maxRequestLength="1048576000" executionTimeout="110" appRequestQueueLimit="100" requestValidationMode="2.0"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering >
        <requestLimits maxAllowedContentLength="2097152000" maxQueryString="5000" maxUrl="8000"></requestLimits>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/ErroLog/" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaxFileSize" value="102400000" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t]     %n异常级别：%-5p   %n异常类：%c [%x]   %n%m   %n" />
      </layout>
    </appender>
  </log4net>



  <RabbitMQ>
    <!--RabbitMQ所在服务器-->
    <add key="serverAddress" value="amqp://192.168.100.180:5672/"></add>
    <add key="userName" value="retech"></add>
    <add key="password" value="123456"></add>
    <!--虚拟机名-->
    <add key="virtualHost" value="dnt_mq"></add>
    <!--路由-->
    <add key="exchange" value="routing"></add>
    <!--交换模式-->
    <add key="exchangeType" value="direct"></add>
    <!--路由关键字-->
    <add key="routingKey" value="rk"></add>
    <!--队列名称-->
    <add key="queue" value="myQueue"></add>
  </RabbitMQ>

  <!--<RabbitMQ>
    -->
  <!--RabbitMQ所在服务器yxt-->
  <!--
    <add key="serverAddress" value="amqp://192.168.4.250:5672/"></add>
    <add key="userName" value="richter"></add>
    <add key="password" value="25825"></add>
    -->
  <!--虚拟机名-->
  <!--
    <add key="virtualHost" value="fileTrans_mq"></add>
    -->
  <!--路由-->
  <!--
    <add key="exchange" value="routing"></add>
    -->
  <!--路由关键字-->
  <!--
    <add key="routingKey" value="rk"></add>
    -->
  <!--队列名称-->
  <!--
    <add key="queue" value="myQueue"></add>

    <add key="exchangeType" value="direct"></add>
  </RabbitMQ>-->

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  
</configuration>


