<unity>
  <container>
    <!--人员相当配置-->
    <register type="LiXinInterface.User.IUser, LiXinInterface" mapTo="LiXinBLL.User.UserBL,LiXinBLL"/>
    <register type="LiXinInterface.User.IRole, LiXinInterface" mapTo="LiXinBLL.User.RoleBL,LiXinBLL"/>
    <register type="LiXinInterface.User.IRight, LiXinInterface" mapTo="LiXinBLL.User.RightBL,LiXinBLL"/>
    <register type="LiXinInterface.User.IPost, LiXinInterface" mapTo="LiXinBLL.User.PostBL,LiXinBLL"/>
    <register type="LiXinInterface.User.IDepartment, LiXinInterface" mapTo="LiXinBLL.User.DepartmentBL,LiXinBLL"/>
    <register type="LiXinInterface.ISys_Notes, LiXinInterface" mapTo="LiXinBLL.Sys_NotesBL,LiXinBLL"/>
    <register type="LiXinInterface.ISys_NoteResource, LiXinInterface" mapTo="LiXinBLL.Sys_NoteResourceBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.ISys_Group, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_GroupBL,LiXinBLL"/>
    <register type="LiXinInterface.User.IUserFingerInfor, LiXinInterface" mapTo="LiXinBLL.UserFingerInforBL,LiXinBLL"/>

    <!--考试相关配置-->
    <register type="LiXinInterface.Examination.IQuestion, LiXinInterface" mapTo="LiXinBLL.Examination.QuestionBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IKnowledgeKey, LiXinInterface" mapTo="LiXinBLL.Examination.KnowledgeKeyBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IExamTest, LiXinInterface" mapTo="LiXinBLL.Examination.ExamTestBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IExamReport, LiXinInterface" mapTo="LiXinBLL.Examination.ExamReportBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IExampaper, LiXinInterface" mapTo="LiXinBLL.Examination.ExampaperBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IExampaperSort, LiXinInterface" mapTo="LiXinBLL.Examination.ExampaperSortBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IExamination, LiXinInterface" mapTo="LiXinBLL.Examination.ExaminationBL,LiXinBLL"/>
    <register type="LiXinInterface.Examination.IQuestionSort, LiXinInterface" mapTo="LiXinBLL.Examination.QuestionSortBL,LiXinBLL"/>

    <!--调查问卷管理-->
    <register type="LiXinInterface.Survey.ISurveyExampaper, LiXinInterface" mapTo="LiXinBLL.Survey.SurveyExampaperBL,LiXinBLL"/>
    <register type="LiXinInterface.Survey.ISurveyQuestionAnswer, LiXinInterface" mapTo="LiXinBLL.Survey.SurveyQuestionAnswerBL,LiXinBLL"/>
    <register type="LiXinInterface.Survey.ISurveyQuestion, LiXinInterface" mapTo="LiXinBLL.Survey.SurveyQuestionBL,LiXinBLL"/>
    <register type="LiXinInterface.Survey.ISurveyReplyAnswer, LiXinInterface" mapTo="LiXinBLL.Survey.SurveyReplyAnswerBL,LiXinBLL"/>
    <!--调查管理-->
    <register type="LiXinInterface.Survey.ISurvey_Survey, LiXinInterface" mapTo="LiXinBLL.Survey.Survey_SurveyBL,LiXinBLL"/>


    <!--系统管理-->
    <register type="LiXinInterface.SystemManage.ISys_ParamConfig, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_ParamConfigBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.ISys_Log, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_LogBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.ISys_LogTrain, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_LogTrainBL,LiXinBLL"/>
    <register type="LiXinInterface.ClassRoom.IClassRoom, LiXinInterface" mapTo="LiXinBLL.ClassRoom.ClassRoomBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.ISys_NoteSort, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_NoteSortBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.IUpdateRecord, LiXinInterface" mapTo="LiXinBLL.SystemManage.UpdateRecordBL,LiXinBLL"/>
    <register type="LiXinInterface.SystemManage.ISys_Leader, LiXinInterface" mapTo="LiXinBLL.SystemManage.Sys_LeaderBL,LiXinBLL"/>

    <register type="LiXinInterface.CourseManage.ICo_CoursePaper, LiXinInterface" mapTo="LiXinBLL.CourseManage.Co_CoursePaperBL,LiXinBLL"/>

    <register type="LiXinInterface.CourseManage.ICl_VideoManage, LiXinInterface" mapTo="LiXinBLL.CourseManage.Cl_VideoManageBL,LiXinBLL"/>

    <register type="LiXinInterface.CourseManage.ICo_VideoResource, LiXinInterface" mapTo="LiXinBLL.CourseManage.Co_VideoResourceBL,LiXinBLL"/>



    <!--课程管理-->
    <register type="LiXinInterface.CourseManage.ICo_CourseSystem, LiXinInterface" mapTo="LiXinBLL.CourseManage.Co_CourseSystemBL,LiXinBLL"/>
    <register type="LiXinInterface.CourseManage.ICo_SystemLinkCourse, LiXinInterface" mapTo="LiXinBLL.CourseManage.Co_SystemLinkCourseBL,LiXinBLL"/>
    <register type="LiXinInterface.CourseManage.ISys_PayGrade, LiXinInterface" mapTo="LiXinBLL.CourseManage.Sys_PayGradeBL,LiXinBLL"/>


    <!--培训计划管理-->
    <register type="LiXinInterface.ITr_MonthPlan, LiXinInterface" mapTo="LiXinBLL.Tr_MonthPlanBL,LiXinBLL"/>
    <register type="LiXinInterface.PlanManage.ITr_YearPlan, LiXinInterface" mapTo="LiXinBLL.PlanManage.Tr_YearPlanBL,LiXinBLL"/>
    <register type="LiXinInterface.AttendceManage.IAttendce, LiXinInterface" mapTo="LiXinBLL.AttendceManage.AttendceBL,LiXinBLL"/>

    <!--课程管理-->
    <register type="LiXinInterface.CourseManage.ICo_Course,LiXinInterface" mapTo="LiXinBLL.CourseManage.Co_CourseBL,LiXinBLL" />

    <!--课程预定-->
    <register type="LiXinInterface.CourseLearn.ICourseOrder,LiXinInterface" mapTo="LiXinBLL.CourseLearn.CourseOrderBL,LiXinBLL" />

    <!--课程资源关联-->
    <register type="LiXinInterface.CourseLearn.ICo_CourseResource,LiXinInterface" mapTo="LiXinBLL.CourseLearn.Co_CourseResourceBL,LiXinBLL" />

    <!--课程学习-->
    <register type="LiXinInterface.CourseLearn.ICl_Attendce,LiXinInterface" mapTo="LiXinBLL.CourseLearn.Cl_AttendceBL,LiXinBLL" />
    <register type="LiXinInterface.CourseLearn.ICl_CourseAdvice,LiXinInterface" mapTo="LiXinBLL.CourseLearn.Cl_CourseAdviceBL,LiXinBLL" />


    <register type="LiXinInterface.CourseLearn.ICl_LearnVideoInfor,LiXinInterface" mapTo="LiXinBLL.CourseLearn.Cl_LearnVideoInforBL,LiXinBLL" />

    <register type="LiXinInterface.CourseLearn.ICl_CpaLearnStatus,LiXinInterface" mapTo="LiXinBLL.CourseLearn.Cl_CpaLearnStatusBL,LiXinBLL" />

    <!--培训级别管理-->
    <register type="LiXinInterface.ISys_TrainGrade,LiXinInterface" mapTo="LiXinBLL.Sys_TrainGradeBL,LiXinBLL" />

    <!--我的审批记录-->
    <register type="LiXinInterface.MyApproval.IMyApproval,LiXinInterface" mapTo="LiXinBLL.MyApproval.MyApprovalBL,LiXinBLL" />

  </container>
</unity>