<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DotNet.Common.FileConvert" type="DotNet.Common.FileConvert.ConfigSection.FileConvertConfigSection,DotNet.Common.FileConvert"/>
  </configSections>

  <DotNet.Common.FileConvert>
    <!--字体路径(Text2Pdf需要用到)-->
    <add key="fontPath" value="C:\Windows\Fonts\STFANGSO.TTF"></add>
    <!--默认30分钟(1000 * 60 * 30)-->
    <add key="timeOut" value="1800000"/>
    <!--ffmpeg.exe路径（可为空，默认debug目录）-->
    <add key="ffmpegPath" value=""></add>
    <!--ffmpeg命令参数-->
    <add key="ffmpegArgu" value="-y -filter:v yadif -acodec aac -ar 44100 -ab 128k -ac 2 -vcodec libx264 -preset slow -crf 20 -async 512 -strict -2"></add>
    <!--pdf2swf.exe路径（可为空，默认debug目录）-->
    <add key="pdf2swfPath" value=""></add>
    <!--pdf2swf命令参数-->
    <add key="pdf2swfArgu" value="flashversion=9 -s width=480 -s height=640"></add>
    <!--faststart.exe路径（可为空，默认debug目录）-->
    <add key="faststartPath" value=""></add>
    <!--faststart命令参数-->
    <add key="faststartArgu" value=""></add>
  </DotNet.Common.FileConvert>

</configuration>
