 @{
    ViewBag.Title = "CourseCPASendMessage";
    Layout = null;
   
}
<input type="hidden" id="commonSelectedIdStr" value=""/>
<form id="formmessage" style=" height:620px;">
    <div id="Search" class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span4">姓名：
                </td>
                <td class="span11">
                    <input type="text" class="span10 searchclass" id="realname" value="请输入搜索内容" info="" />
                </td>
                <td class="Tit span6">部门/分所：
                </td>
                <td class="span21">
                    <input type="text" class="span20 searchclass" id="deptname" value="请输入搜索内容" info="" />
                </td>
                <td class="so-do">
                    <input class="btn" type="button" value="搜索" id="btnSearch" onclick=" InitData(); " />
                </td>
            </tr>
        </table>
    </div>
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span6">
                    <input type="checkbox" value="0" id="selectall" />
                </th>
                <th class="span6">序号
                </th>
                <th class="span10">姓名
                </th>
                <th class="span5" jsrendersortfield="su.Sex" sort="desc">性别
                </th>
                <th class="span10">部门/分所
                </th>
                <th class="span5" jsrendersortfield="su.TrainGrade" sort="desc">培训级别
                </th>
                <th class="span16">报名时间
                </th>
            </tr>
        </thead>
        <tbody id="userList">
        </tbody>
        <tfoot>
        </tfoot>
    </table>


    <div id="ycinfo" style="padding-bottom: 20px;">
        <table class="tab-Form mt10" style="width: 500px">
            <tr>
                <td class="Tit span9">消息主题：
                </td>
                <td>
                    <input id="mTitle" name="mTitle" type="text" maxlength="30" class="span30" />
                </td>
            </tr>
            <tr>
                <td class="Tit">消息内容：
                </td>
                <td style="vertical-align: top;">
                    <span>
                        <textarea id="mContent" name="mContent" cols="20" rows="2" class="span36"></textarea>
                        </br>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="Tit">发送类型：
                </td>
                <td>
                    <span class="sel">
                        <input type="checkbox" value="1" name="mMust" text="邮件" /><label>邮件</label>
                        <input type="checkbox" value="2" name="mMust" text="短信" /><label>短信</label>
                    </span>
                    
                </td>
            </tr>
        </table>
        <div class="mt10 tc">
            <input type="button" value="发送" class="btn" onclick="$(this).submit();" />
        </div>
    </div>

</form>
<script id="userListTemplate" type="text/x-jsrender">
    {{for #data}}
    <tr> 
		<td>
            <input type="checkbox" id="{{:UserId}}" value="{{:UserId}}" />
        </td>  
        <td>{{:#index+1}}</td>
        <td>{{:Realname}}</td> 
        <td>{{:SexStr}}</td> 
        <td><div class="ovh span40 tl">{{:DeptName}}</div></td> 
        <td>{{:TrainGrade}}</td>
        <td>{{:OrderTimeStr}}</td>
    </tr> 
    {{/for}}
</script>
<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        //初始化查询条件
        initSearch();
        InitData();

        $("#mContent").textareaCount({ maxCharacterSize: 500 });

        $("#formmessage").validate({
            errorPlacement: function (error, element) {
                var eid = element.attr('name');
                if (eid == 'mMust' || eid == 'mContent') {
                    error.appendTo(element.parent().parent());
                }
                else {


                    error.insertAfter(element);
                }

            },
            submitHandler: function (form) { Send(@ViewBag.courseid); },
            event: "blur",
            rules: {
                mTitle: { required: true },
                mContent: { required: true, maxlength: 500 },
                mMust: { required: true }
            },
            messages: {
                mTitle: { required: "消息主题不能为空" },
                mContent: {
                    required: "消息内容不能为空",
                    maxlength: "内容不能超过500个字"
                },
                mMust: { required: "请选择发送类型" }
            }
        });


    })
    function InitData() {
	
        $("#userList").JsRenderData({
            sourceUrl: geturl(),
            isPage: true,
            pageSize: 5,
            pageIndex: 1,
            jsRenderSortField: " su.DeptId,TrainGrade",
            jsRenderASC: " ASC",
            templateID: "userListTemplate",
            funCallback: function () { SetCheckBox('selectall', 'userList');HiddenSelectUser("checkbox",'userList');}
        });
    }


    function HiddenSelectUser(obj,ID) {

        if ($("#"+ID) != undefined && $("#"+ID) != null) {
            $("#userList input[type='" + obj + "']").each(function () {
  
                if ((',' + $("#"+ID).val() + ',').indexOf(',' + $(this).attr('id') + ',') >= 0) {
                    $(this).attr('disabled', 'disabled');
                }
                if((',' +$("#commonSelectedIdStr").val() + ',').indexOf(',' + $(this).attr('id') + ',') >= 0) {
                    $(this).attr('checked', true);
                }
            });
        }
    }

    function geturl()
    {  
        switch(@ViewBag.type)
        {
            case 1:
                var v ="courseId=@ViewBag.courseid&realName="+ escape(getSearchWord("realname"))+"&deptName="+ escape(getSearchWord("deptname"));
                return '/CourseLearn/GetCourseOrderName?'+v;
                break;
            case 2:
                var v = "id=@ViewBag.courseid&pname=" + escape(getSearchWord("realname")) + "&dname=" +escape(getSearchWord("deptname"))+"&flag=0";
                return '/CourseLearn/GetCPACourseSubscribeUserList?'+v;
                break;
            case 3:
            
                var v = "id=@ViewBag.courseid&pname=" + escape(getSearchWord("realname")) + "&dname=" + escape(getSearchWord("deptname"))+"&flag=1";
                return '/CourseLearn/GetCPACourseSubscribeUserList?'+v;
                break;
            case 4:
                var v ="courseId=@ViewBag.courseid&realName="+ escape(getSearchWord("realname"))+"&deptName="+ escape(getSearchWord("deptname"));
                return '/DepCourseManage/GetDepCourseOrderName?'+v;
                break;
            case 5:
                var v="ids=@ViewBag.courseid&realName="+ escape(getSearchWord("realname"))+"&deptName="+ escape(getSearchWord("deptname"));
                return '/MyApply/GetUserIds_Free_AllOtherApply?'+v

        }
    }

    function Remind(ids) {
        if (ids == "") {
            art.dialog.tips( "请选择用户！", 3);
            return;
        }
        $.post("/CourseLearn/FunCourseCpaSendMessage", { courseId: @ViewBag.courseid, userIds: ids,cpaflag:3 }, function (data) {
            if (data == 1) {
                art.dialog.tips( "提醒成功！", 3);
            } else {
                art.dialog.tips( "提醒失败！",3);
            }
        });
    }

    @* function Send() {
	var ids=GetChecked('userList');
      if (ids == "") {
            art.dialog.tips( "请选择用户！", 3);
            return;
        }
		$.post("/CourseManage/FunCourseCpaSendMessage", { courseId: @ViewBag.courseid, userIds: ids }, function (data) {
						if (data == 1) {
							art.dialog.tips( "提醒成功！", 3);
							InitData();
						} else {
							art.dialog.tips( "提醒失败！",3);
							InitData();
						}
					});
    }*@
</script>
