@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "我的课前建议与评估";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="main-c">
        @(Html.Action("SiteMapLink", "Common", new { linkName = "MyDepProposeAndEvlution" }))
        <div class="tab-bk">
            <ul id="ul_id">
                <li class="child" onclick="showTags(2)">未提交建议</li> 
                <li class="child" onclick="showTags(1)">已提交建议</li>
                <li class="child" onclick="showTags(0)">所有的建议</li>
                <li class="On" onclick="showTags(5)">未参与评估</li>
                <li class="child" onclick="showTags(4)">已参与评估</li>
                <li class="child" onclick="showTags(3)">全部评估</li>
            </ul>
        </div>
        <div class="so-set">
            <table class="tab-Form">
                <tr>
                    <td class="Tit span6">
                        课程名称：
                    </td>
                    <td class="span21">
                        <input type="text" id="txt_CourseName" class="span20 searchclass" value="请输入课程名称"
                            info="" />
                    </td>
                    <td class="Tit span6">
                        开课时间：
                    </td>
                    <td>
                        <div class="time-choose">
                            <input type="text" id="txt_StartTime" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'txt_EndTime\',{m:-1})}' })  " />
                            <i></i>
                        </div>
                        至
                        <div class="time-choose">
                            <input type="text" id="txt_EndTime" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'txt_StartTime\',{m:1})}' })" />
                            <i></i>
                        </div>
                    </td>
                    <td class="so-do">
                        <input type="button" value="查询" id="btn_add" class="btn" />
                    </td>
                </tr>
            </table>
        </div>
        @*<div class="so-seq">
            <select id="sel_type" onchange="InitData()">
                <option value="0">请选择培训形式</option>
                <option value="1">集中授课</option>
                <option value="2">视频课程</option>
            </select>
        </div>*@
        <table class="tab-List mt10">
            <thead>
                <tr>
                    <th class="span4">
                        序号
                    </th>
                    <th>
                        课程名称
                    </th>
                    <th class="span16">
                        培训类型
                    </th>
                    <th class="span8">
                        学时
                    </th>
                    <th class="span12">
                        讲师
                    </th>
                    <th class="span12">
                        开课时间
                    </th>
                    <th class="span6">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody id="Courstlist">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        initSearch();
        InitData();
        $("#btn_add").click(function () {
            var v = "CourseName=" + encodeURIComponent(getSearchWord("txt_CourseName")) + "&StartTime=" + $("#txt_StartTime").val() + "&EndTime=" + $("#txt_EndTime").val();
            $("#Courstlist").JsRenderData({
                sourceUrl: '/DepMyAfterCourse/GetNoPassMyAfterCourseList?' + v,
                isPage: true,
                pageSize: 10,
                pageIndex: 1,
                templateID: "CourseListTemplate"
            });
        });

        $("#sel_type").change(function () {
            var v = "CourseName=" + encodeURIComponent(getSearchWord("txt_CourseName")) + "&StartTime=" + $("#txt_StartTime").val() + "&EndTime=" + $("#txt_EndTime").val();
            $("#Courstlist").JsRenderData({
                sourceUrl: '/DepMyAfterCourse/GetNoPassMyAfterCourseList?' + v,
                isPage: true,
                pageSize: 10,
                pageIndex: 1,
                templateID: "CourseListTemplate"
            });
        });
    });

    function InitData() {
        var v = "CourseName=" + encodeURIComponent(getSearchWord("txt_CourseName")) + "$StartTime=" + $("#txt_StartTime").val() + "&EndTime=" + $("#txt_EndTime").val();
        $("#Courstlist").JsRenderData({
            sourceUrl: '/DepMyAfterCourse/GetNoPassMyAfterCourseList',
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "CourseListTemplate"
        });
    }
    function FUrl(id) {
        window.location.href = "/DepMyAfterCourse/AfterCourse?courseid=" + id + "&backurl=" + encodeURIComponent(window.location.href);
        //href="/MyAfterCourse/AfterCourse?courseid={{:Id}}"
    }
    function showTags(flag) {
        switch (flag) {
            case 0: //所有建议
                location.href = "/DepMypropose/Main";
                break;
            case 1: //已提交建议
                location.href = "/DepMypropose/MyproposeList";
                break;
            case 2: //未提交建议
                location.href = "/DepMypropose/NoProposeList";
                break;
            case 3: //全部评估
                location.href = "/DepMyAfterCourse/Main";
                break;
            case 4: //已参与评估
                location.href = "/DepMyAfterCourse/AfterCourseList";
                break;
            case 5: //未参与评估
                location.href = "/DepMyAfterCourse/NoAfterCourseList";
                break;
            default:
        }
    }
</script>
<script id="CourseListTemplate" type="text/x-jsrender">
        {{for #data}}
        <tr>
            <td>
            {{:#index+1}}
            </td>
            <td>
                <div class="ovh tl span20" title="{{>CourseName}}">{{>CourseName}}</div>
            </td>
           <td>
                <div class="ovh tl span15" title="{{:SortStr}}">{{:SortStr}}</div>
           </td>
            <td>
                {{:CourseLength}}
            </td>           
          <td>       
                {{:TeacherName}}
            </td>
            <td style="text-align:left;" class="f11">
                {{:CourseTime}}
             </td>            
            <td>            
            <a  onclick="FUrl({{:Id}})" class="icon iview" title="详情"></a>             
            </td>
        </tr> 
        {{/for}}
</script>
</html>
