<?xml version="1.0" encoding="utf-8" ?>
<Account>
  <!--ip地址-->
  <add key="host" value="211.136.163.68"/>
  <!--端口号-->
  <add key="port" value="9981"/>
  <!--用户名-->
  <add key="accountId" value="10657109042081002"/>
  <!--密码-->
  <add key="password" value="Lxpx2010"/>
  <!--服务代码，这边设置为0即可-->
  <add key="serviceId" value="0"/>

</Account>