<?xml version="1.0" encoding="utf-8" ?>
<RabbitMQ>
  <!--RabbitMQ所在服务器-->
  <add key="serverAddress" value="amqp://192.168.100.180:5672/"></add>
  <add key="userName" value="retech"></add>
  <add key="password" value="123456"></add>
  <!--路由-->
  <add key="exchange" value="routing"></add>
  <!--路由关键字-->
  <add key="routingKey" value="rk"></add>
  <!--队列名称-->
  <add key="queue" value="myQueue"></add>

  <add key="virtualHost" value="dnt_mq"></add>
</RabbitMQ>