@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "上级指定管理";
}

<div class="main-c">

    <input type="hidden" id="AllUserID" />
    @(Html.Action("SiteMapLink", "Common", new { linkName = "上级指定管理" }))
    <div id="Search" class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">组名：</td>
                <td class="span21">
                    <input type="text" class="span20 searchclass" id="tbTitle" value="请输入搜索内容" info="" /></td>
                <td class="Tit span6">负责人：</td>
                <td>
                    <input type="text" class="span20 searchclass" id="tbuser" value="请输入搜索内容" info="" /></td>
                <td class="so-do">
                    <input type="button" class="btn" id="ibtnSearch" name="搜索" value="搜索" />
                    <a id="btnadd" onclick="Edit(0);" class="btn btn-co">新增组</a>
                    <a id="btndelete" class="btn btn-co">批量删除</a>
                </td>
            </tr>
        </table>
    </div>
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span4">
                    <input id="selAll" type="checkbox" /></th>
                <th class="span4">序号</th>
                <th>组名</th>
                <th class="span10">负责人</th>
                <th class="span6">组员数量</th>
                <th class="span16">创建时间</th>
                <th class="span16">更新时间</th>
                <th class="span10">操作</th>

            </tr>
        </thead>
        <tbody id="groupList">
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<script id="groupListTemplate" type="text/x-jsrender">
    {{for #data}}
        <tr>
            <td><input id="G{{:Id}}" type="checkbox" name="checkgroup" value="{{:Id}}" /></td>
            <td>{{:#index+1}}</td>
            <td><div class="ovh tl span32" title="{{:GroupName}}">{{:GroupName}}</div></td>
            <td>{{:Realname}}</td>
            <td>{{:UNumber}}</td>
            <td>{{:CreateTimeStr}}</td>
            <td>{{:LastUpdateTimeStr}}</td>
            <td>
                <a title="编辑" onclick="Edit({{:Id}});" class="icon iedit"></a>
                <a title="删除" onclick="Delete({{:Id}});" class="icon idel"></a>
            </td>
        </tr>  
    {{/for}}
</script>

<script type="text/javascript">
    //显示群组列表
    function InitializeTargetList(url) {
        var templateId = 'groupListTemplate';
        $("#groupList").JsRenderData({
            sourceUrl: url,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: templateId,
            funCallback: function () {
                SetCheckBox("selAll", "groupList");
                $("#selAll").removeAttr("checked");
            }
        });

    }

    function getUrlParms() {
        return "/SystemManage/GetAllLearderList?title=" + escape($.trim(getSearchWord("tbTitle"))) + "&username=" + escape($.trim(getSearchWord("tbuser"))) + "&t=" + new Date();
    }


    $(document).ready(function () {
        //初始化查询条件
        initSearch();
        //初始化列表
        InitializeTargetList(getUrlParms());

        $("#btndelete").bind("click", function () {
            var flag = false;
            var check = document.getElementsByName("checkgroup");
            var checkList = "";
            for (var i = 0; i < check.length; i++) {
                if (check[i].checked) {
                    checkList = checkList + check[i].value + ",";
                    flag = true;
                }
            }
            checkList = checkList.substring(0, checkList.length - 1);
            if (!flag) {
                art.dialog.tips("请选择群组", 3);
                return false;
            } else {
                Delete(checkList);
            }
        });

        //查询
        $("#ibtnSearch").bind("click", function () {
            InitializeTargetList(getUrlParms());
        });
    });

    //编辑
    function Edit(id) {
        window.location.href = "/SystemManage/LeaderUserEdit?id=" + id + "&t=" + new Date();
    }
  
    //删除
    function Delete(ids) {
        art.dialog({
            title: "提示",
            content: '是否确定删除？',
            width: 200,
            okValue: '确定',
            cancelValue: '取消',
            height: 50,
            fixed: true,
            lock: true,
            ok: function () {
                $.getJSON("/SystemManage/Deleteleader?ids=" + ids + "&t=" + new Date(), function (data) {
                    if (data.result == 1) {
                        art.dialog.tips(data.content, 3);
                        InitializeTargetList(getUrlParms());
                    } else {
                        art.dialog.tips(data.content, 3);
                    }
                });
            },
            cancel: function () {
            }
        });
    }

</script>
