@using LiXinControllers
@using LiXinModels.CourseManage
@using LiXinModels.Survey
@{
    ViewBag.Title = "课程详情";
  
}
 <div class="main-c">
            @*@(Html.Action("SiteMapLink", "Common", new { linkName = "课程详情" }))*@
            @Html.Action("MyBroadcastCourse", "DepTrainMyBroadcastCourse", new { id = ViewBag.id })
            @Html.Action("BroadcastAfterCourseNewList", "DepTrainMyBroadcastCourse", new { id = ViewBag.id, backurl = ViewBag.backurl + "?p=1" })
        </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#ul_menu li:eq(1)").addClass("On").siblings("li").removeClass("On");
        });
    </script>
  
