@{
    Layout = null;
}

<div class="tab-bk mt10">
    <ul id="tagTimeOuts">
        <li class="On" id="tagTimeOut0">全部</li>
        <li id="tagTimeOut1">待审批</li>
        <li id="tagTimeOut2">已审批</li>
    </ul>
</div>
<div class="so-set">
    <table class="tab-Form">
        <tr>
            <td class="Tit span6">课程名称：
            </td>
            <td>
                <input type="text" class="span30 Box searchclass" id="course" value="请输入课程名称" info="" />
            </td>
            <td class="so-do">
                <input class="btn" type="button" value="搜索" id="btnSearch" onclick=" InitData(); " />
            </td>
        </tr>
    </table>
</div>
<div class="mt10">
    <table class="tab-List">
        <thead>
            <tr>
                <th class="span4">序号
                </th>
                <th>课程名称
                </th>
                <th class="span4" jsrendersortfield="Co_Course.CourseLength" sort="desc">学时
                </th>
                <th jsrendersortfield="Co_Course.IsMust" sort="desc">选/必修
                </th>
                <th class="span12" jsrendersortfield="Co_Course.StartTime" sort="desc">开课时间
                </th>
                <th>开设课次
                </th>
                <th class="span6">讲师
                </th>
                <th class="span6">审批状态
                </th>
                <th class="span6">审批人
                </th>
                <th class="span12" jsrendersortfield="Cl_TimeOutOrder.ApprovalDateTime" sort="desc">审批时间
                </th>
                <th jsrendersortfield="Cl_CourseOrder.GetScore" sort="desc">获得学时
                </th>
            </tr>
        </thead>
        <tbody id="courseList">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<script id="courseListTemplate" type="text/x-jsrender">
    {{for #data}}
    <tr>
        <td>{{:#index+1}}</td>
        <td style="text-align:left;"><div class="ovh span8" title="{{:Course_Name}}">{{:Course_Name}}</div></td>   
        <td>{{:CourseLength}}</td> 
        <td>{{:IsMustStr}}</td> 
        <td><div class="tl f11">{{:CourseTime}}</div></td> 
        <td>{{:CourseTimesOrder}}/{{:TotalCourseTimes}}</td> 
        <td>{{:TeacherName}}</td> 
        <td>
            {{if ApprovalFlag == 2}}
                <a href="javascript:void(0);" title="审批理由：{{:ApprovalMemo}}">{{:ApprovalStatus}}</a>
            {{else}}
                {{:ApprovalStatus}}
            {{/if}}
        </td> 
        <td>{{:ApprovalRealName}}</td> 
        <td>{{:ApprovalDateTime}}</td>
        <td>
            {{if GetScore<0 || (OrderStatus==3 && MakeUpApprovalFlag==0)}}
                0
            {{/if}}
            {{if GetScore>=0 &&(OrderStatus!=3 || (OrderStatus==3 && MakeUpApprovalFlag>0))}}
                {{:GetScore}}
            {{/if}}
        </td>
    </tr> 
    {{/for}}
</script>
<script type="text/javascript">
    var flag = 0;
    $(document).ready(function ()
    {
        initSearch();
        InitData();
        $("#tagTimeOuts li").click(function ()
        {
            $("#tagTimeOuts li").removeClass("On");
            $(this).addClass("On");

            var index = $(this).index();
            flag = index;
            InitData();
        });
    });

    function InitData()
    {
        var v = "course=" + escape(getSearchWord("course")) + "&Approval=" + flag;
        $("#courseList").JsRenderData({
            sourceUrl: '/MyApply/GetMyTimeOutList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            jsRenderSortField: "Co_Course.Id",
            jsRenderASC: "desc",
            templateID: "courseListTemplate",
            funCallback: function ()
            {
            }
        });
    }
</script>
