@using LiXinModels
@{
    Layout = null;
}

<form id="fnSumitConfig">
    <h2 class="tit-h2 mt10">
        <i></i>
        <span class="tit-con">请假审核时限</span>
    </h2>
    <table class="tab-Form mt10">
        <tr>
            <td class="Tit span20">请假审核时限：</td>
            <td>
                <div class="fl">
                提交请假后<input type="text" class="span5" name="Anumber" id="level_A" maxlength="5" value="@(Model.ConfigValue)"/>小时内           
                </div>
            </td>
        </tr>
        <tr>
            <td class="Tit"></td>
            <td><input type="submit" value="确定" id="btn_Add" class="btn"/></td>
        </tr>
    </table>
</form>
    <script type="text/javascript">
        $(document).ready(function () {


            $("#fnSumitConfig").validate({
                event: "blur",
                rules: {
                    Anumber: { required: true, number: true, min: 0, max: 1000 }
                },
                messages: {
                    Anumber: { required: "请输入时间", number: "请输入大于等于0的数", min: "请输入大于等于0的数", max: "输入小时小于等于1000" }
                },
                errorPlacement: function (error, element) {
                    var eid = element.attr('name');
                    if (element.is(':radio') || element.is(':checkbox')) {
                        $('input[name=' + eid + ']:last').next().after(error);
                    } else {

                        error.insertAfter(element.parent());
                    }
                },
                submitHandler: fnSumitConfig
            });


        });

        function fnSumitConfig() {

            var t = $("#level_A").val();
            $.post("/DepParamConfig/UpdateConfig?type=7&value=" + t + "&deptID=" + $("#depart").val(), function (data)
            {
                if (data.result == 1) {
                    art.dialog.tips('配置成功', 3);
                } else {
                    art.dialog.tips('配置失败', 3); ;
                }
            });

        }
    </script>

