@using LiXinLanguage
@{
    ViewBag.Title = NavigateMenuLanguage.CourseApplyDetail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = "CourseApplyDetail" }))
    <div class="tab-bk mt10">
        <ul id="tags">
            <li id="tag0" class="On" onclick="ShowTable(0);">部门报名明细</li>
            <li id="tag1" onclick="ShowTable(1);">培训级别报名明细</li>
        </ul>
    </div>
    <div>
        <div id="SearchDept" class="so-set">
            <table class="tab-Form">
                <tbody>
                    <tr>
                        <td class="Tit span6">
                            部门/分所：
                        </td>
                        <td>
                            <input type="text" class="span30  searchclass" id="deptname" value="请输入部门/分所" info="" />
                        </td>
                        <td class="Tit span6">
                            报名率：
                        </td>
                        <td>
                            <input type="text" class="span10  searchclass" id="startDept" value="请输入数字" info="" />%
                            至
                            <input type="text" class="span10  searchclass" id="endDept" value="请输入数字" info="" />%
                        </td>
                        <td class="so-do">
                            <input type="button" class="btn" value="搜索" onclick=" InitDataDept(); " />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="SearchTrainGrade" class="so-set">
            <table class="tab-Form">
                <tbody>
                    <tr>
                        <td class="Tit span6">
                            培训级别：
                        </td>
                        <td>
                            <div class="sel">
                                @{
                                    foreach (var item in ViewBag.trainGrade)
                                    {
                                        <input name="cbxTrainGrade" value="@item" type="checkbox" /><label>@item</label>
                                    }      
                                }
                            </div>
                        </td>
                        <td class="Tit span6">
                            报名率：
                        </td>
                        <td>
                            <input type="text" class="span10  searchclass" id="startTrainGrade" value="请输入数字"
                                   info="" />% 至
                            <input type="text" class="span10  searchclass" id="endTrainGrade" value="请输入数字" info="" />%
                        </td>
                        <td class="so-do">
                            <input type="button" class="btn" value="搜索" onclick=" InitDataTrainGrade(); " />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="lh30 tr">
            <label>安排人数合计：</label>
            <span id="all"></span>
            <label class="ml20">已报名人数合计：</label>
            <span id="sub"></span>
            <label class="ml20">报名率合计：</label>
            <span id="per" class="mr20"></span>
        </div>
        <!-- 列表 -->
        <div id="Content">
            <table class="tab-List">
                <thead>
                    <tr>
                        <th class="tc span4">
                            序号
                        </th>
                        <th class="tl" id="showName">
                            部门名称
                        </th>
                        <th class="tl Raster_12">
                            安排人数
                        </th>
                        <th class="tl Raster_12">
                            已报名人数
                        </th>
                        <th class="tl Raster_12">
                            报名率
                        </th>
                    </tr>
                </thead>
                <tbody id="subscribeList">
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="tc">
        <a id="btnBack" class="btn btn-cancel" onclick=" window.location.href = '/DepCourseCourseLearn/CourseSubscribe?p=1'; ">
            返回</a>
    </div>
</div>
<script id="subscribeListTemplate" type="text/x-jsrender"> 
{{for #data}} 
<tr> 
    <td>{{:#index+1}}</td>
    <td>{{:Name}}</td> 
    <td>{{:AllCount}}</td> 
    <td>{{:SubscribeCount}}</td> 
    <td>{{:Percent}}%</td>
</tr> 
{{/for}} 
</script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        initSearch();
        $("#tags>li").click(function () {
            $(this).parent().find('li').removeClass('On');
            $(this).addClass('On');
        });
        ShowTable(0);
    });
    var pageFlag = 0;
    function ShowTable(flag) {
        pageFlag = flag;
        $("#SearchDept").hide();
        $("#SearchTrainGrade").hide();
        if (flag == 0) {
            $("#showName").text("部门/分所");
            $("#SearchDept").show();
            InitDataDept();
        }
        else {
            $("#showName").text("培训级别");
            $("#SearchTrainGrade").show();
            InitDataTrainGrade();
        }
    }
    function InitDataDept() {
        var start = getSearchWord("startDept");
        if (start != "") {
            if (isNaN(start) == false) {
                if (parseInt(start, 10) < 0 || parseInt(start, 10) > 100 || parseInt(start, 10) != $("#startDept").val()) {
                    art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                    return;
                } else {
                    start = parseInt(start, 10);
                }
            } else {
                art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                return;
            }
        }
        var end = getSearchWord("endDept");
        if (end != "") {
            if (isNaN(end) == false) {
                if (parseInt(end, 10) < 0 || parseInt(end, 10) > 100 || parseInt(end, 10) != $("#endDept").val()) {
                    art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                    return;
                } else {
                    end = parseInt(end, 10);
                }
            } else {
                art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                return;
            }
        }
        var v = "courseId=@ViewBag.Id&deptName=" + escape(getSearchWord("deptname")) + "&start=" + start + "&end=" + end;
        $("#subscribeList").JsRenderData({
            sourceUrl: '/DepCourseCourseLearn/GetCourseDeptSubscribe?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "subscribeListTemplate",
            funCallback: function (data) {
                $("#all").text(data.all);
                $("#sub").text(data.sub);
                $("#per").text(data.per + "%");
            }
        });
    }
    function InitDataTrainGrade() {
        var trainGrade = "";

        $("input[name=cbxTrainGrade]").each(function () {
            if ($(this).attr("checked")) {
                trainGrade += $(this).val();
            }
        });
        var start = getSearchWord("startTrainGrade");
        if (start != "") {
            if (isNaN(start) == false) {
                if (parseInt(start, 10) < 0 || parseInt(start, 10) > 100 || parseInt(start, 10) != $("#startTrainGrade").val()) {
                    art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                    return;
                } else {
                    start = parseInt(start, 10);
                }
            } else {
                art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                return;
            }
        }
        var end = getSearchWord("endTrainGrade");
        if (end != "") {
            if (isNaN(end) == false) {
                if (parseInt(end, 10) < 0 || parseInt(end, 10) > 100 || parseInt(end, 10) != $("#endTrainGrade").val()) {
                    art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                    return;
                } else {
                    end = parseInt(end, 10);
                }
            }
            else {
                art.dialog.tips("要大于等于0，小于等于100的整数！", 3);
                return;
            }
        }
        var v = "courseId=@ViewBag.Id&trainGrade=" + trainGrade + "&start=" + start + "&end=" + end;
        $("#subscribeList").JsRenderData({
            sourceUrl: '/DepCourseCourseLearn/GetCourseTrainGradeSubscribe?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "subscribeListTemplate",
            funCallback: function (data) {
                $("#all").text(data.all);
                $("#sub").text(data.sub);
                $("#per").text(data.per + "%");
            }
        });
    } 
</script>
