@{
    ViewBag.Title = "我的学时及考勤";
}

<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "我的考勤"
}))
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">
                    课程名称：
                </td>
                <td class="span12">
                    <input type="text" id="txt_courseName" class="span20 searchclass" value="请输入搜索内容"
                        info="" />
                </td>
                <td class="Tit span6">
                   开课时间：
                </td>
                <td>
                    <div class="data-choose">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', maxDate: '#F{$dp.$D(\'end\',{m:-1})}' });"
                               readonly="readonly" id="start" />
                        <i></i>
                    </div>
                    至
                    <div class="data-choose">
                        <input type="text" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd', minDate: '#F{$dp.$D(\'start\',{m:1})}' });"
                               readonly="readonly" id="end" />
                        <i></i>
                    </div>
                </td>
                <td class="Tit span6">
                    <select id="sel_Status">
                        <option value="-1">考勤情况</option>
                        <option value="1">正常</option>
                        <option value="0">缺勤</option>
                    </select>
                </td>
                <td rowspan="2" class="so-do">
                    <input type="button" value="查询" id="btn_Add" class="btn" />
                </td>
            </tr>
        </table>
    </div>
</div>

<table class="tab-List">
    <thead>
        <tr>
            <th class="span4">
                序号
            </th>
            <th class="span14">
                课程名称
            </th>
            <th class="span8">
                学时
            </th>
            <th class="span8">
                选/必修
            </th>
            <th class="span14">
                开课时间
            </th>
            <th class="span8">
                讲师
            </th>
            <th class="span11">
                授课地点
            </th>
            <th class="span8">
                计划
            </th>
            <th class="span8">
                获得学时
            </th>
            <th class="span8">
                考勤状况
            </th>
        </tr>
    </thead>
    <tbody id="Courstlist">
    </tbody>
    <tfoot>
    </tfoot>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        //初始化查询条件
        initSearch();
        InitData();


        $(".att").mouseover(function () {
            $(this).find("p").css("display", "inline-block");
        });
        $(".att").mouseout(function () {
            $(this).find("p").css("display", "none");
        });

        $("#btn_Add").click(function () {
            InitData();
        });

        $("#sel_Status").change(function () {
            InitData();
        });
    });

    function InitData() {
        var userId = @ViewBag.userId;
        var departId = @ViewBag.depId;
        var v = "courseName=" + escape($.trim(getSearchWord("txt_courseName"))) + "&startTime=" + $("#start").val() +
            "&endTime=" + $("#end").val() + "&status=" + $("#sel_Status").val() + "&userId=" + userId + "&deptId=" + departId;
        
        $("#Courstlist").JsRenderData({
            sourceUrl: '/DepCourseCourseLearn/GetAttendceList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "CourseListTemplate",
            funCallback: function ()
            {
                $(".att").mouseover(function ()
                {
                    $(this).find("p").css("display", "inline-block");
                });
                $(".att").mouseleave(function ()
                {
                    $(this).find("p").css("display", "none");
                });
            }
        });
    }
</script>
<script id="CourseListTemplate" type="text/x-jsrender">
{{for #data}}
<tr>
<td>
{{:#index+1}}
</td>
<td>
<div class="ovh tl span14" title="{{:CourseName}}">{{:CourseName}}</div>
</td>
<td>
{{:CourseLength}}
</td>
<td>
{{:IsMust==1?"必修":"选修"}}
</td>
<td>
<div class="f11 tl">{{:StartTime==""?"——":StartTime}} -- {{:EndTime==""?"——":EndTime}}</div>
</td>
<td>
{{:Realname}}
</td>
<td>
<div class="ovh tl span8" title="{{:RoomName}}">{{:RoomName}}</div>
</td>
<td>
{{:IsYearPlan==1?"是":"否"}}
</td>
<td>
{{:total}}
</td>
<td>
{{:Status==1?"正常":"缺勤"}}
</td>
</tr>
{{/for}}
</script>
