@{
    Layout = null;
}
<div class="centerbody mb5">
    <fieldset>
        <legend>请选择撤销理由</legend>
        <ul class="lh24 pl20" id="reasonmain">
            <li><input type="radio" name="reason" checked="checked" value="1"/>1、误操作；</li>
            <li><input type="radio" name="reason" value="2"/>2、被指定人临时有其他项目安排；</li>
            <li><input type="radio" name="reason" value="3"/>3、需调整报名人员；</li>
            <li><input type="radio" name="reason" value="4" onchange ="if($(this).attr('checked')){$('#reasoncontent').attr('disabled',false);}else{$('#reasoncontent').attr('disabled',true).val('');}"/>4、其他<input type="text" id="reasoncontent" disabled="disabled" maxlength="100" class="Raster_50 ml10" /></li>
        </ul>
    </fieldset>
</div>
<input type="hidden" id="commonSelectedIdStr" value=""/>
<input type="hidden" id="reasontype" value="1"/>
<div id="div_Search" class="so-set">

    <table class="tab-Form">
        <tr>
            <td class="Tit span6">姓名：</td>
            <td><input type="text" name="UserName" id="txtUserName"  value="" class="span15" /></td>
            <td class="Tit span6">部门/分所：</td>
            <td><input type="text" id="txtdeptName"  value="" class="span15" /></td>
            <td class="Tit span8">培训级别：</td>
            <td>
                <div class="sel">
                   @{
                        foreach (var item in @ViewBag.trainGrade) 
                        {
                        <input type="checkbox"  value="@item" name="OpenLevel" /><label>@item</label>
                        }      
                   }
                  @* @(!ViewBag.OpenLevel.Contains(item)?"disabled=\"disabled\"":"")*@
                </div>
            </td>
            <td class="so-do">
                <input type="button" value="查询" onclick="fnSearch()" class="btn" />
            </td>
        </tr>
    </table>
</div>
<div id="pop_userList">
<table class="tab-List mt10">
    <thead>
        <tr>
            <th class="span4">
                <input type="checkbox" id="pop_selectall" value="" />
            </th>
            <th class="span6">
                姓名
            </th>
            <th>
                部门/分所
            </th>
            <th class="span10" jsrendersortfield="TrainGrade" sort="desc">
                培训级别
            </th>
            <th class="span15">
                联系方式
            </th>
            <th class="span16">
               邮箱
            </th>
        </tr>
    </thead>
    <tbody id="pop_tbUserList">
    </tbody>
    <tfoot>
    </tfoot>
</table>
</div>
<center class="mt10">
    <input type="button" value="提交" onclick="fnDropAssignUser();" class="btn btn-co" />
</center>
<script id="userListTemplate" type="text/x-jsrender">
   {{for #data}}
        <tr>
             <td><input type="checkbox" name="chbAssign" value="{{:UserId}}" id="{{:UserId}}" /></td>
             <td>{{>Realname}}</td>
             <td>{{>DeptPath}}</td>
             <td>{{:TrainGrade}}</td>
             <td>{{:MobileNum}}</td>
             <td>{{>Emailstr}}</td>
        </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#reasonmain input[type='radio']").bind('change', function () {
            if ($(this).attr("checked")) {
                $("#reasontype").val($(this).attr("value"));
                if ($(this).attr("value") != "4")
                    $('#reasoncontent').attr('disabled', true).val('');
            }
        });
        fnGetUserList();
    });

    function fnGetUserList() {
        $("#pop_tbUserList").JsRenderData({
            sourceUrl: GetPopParameters(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            jsRenderSortField: "",
            jsRenderASC: "",
            templateID: "userListTemplate",
            funCallback: function () {
                SetCheckBox('pop_selectall', 'pop_tbUserList');
                HiddenSelectUser('commonSelectedIdStr');
            }
        });
    }

    function GetPopParameters() {
        var url = "/DepSelfCourseAppointSearch/GetCourseDropAssignUserList?t=" + new Date();
        url += "&userName=" + escape($.trim($("#txtUserName").val()))
            + "&deptname=" + escape($.trim($("#txtdeptName").val()))
                + "&CourseId=@ViewBag.CourseId";
        var trainGrade = "";
        $("input[name=OpenLevel]:checked").each(function () {
            trainGrade += $(this).val() + ",";
        });
        if (trainGrade.length > 0) {
            trainGrade = trainGrade.substring(0, trainGrade.length - 1);
            url += "&trainGrade=" + trainGrade;
        }
        return url;

    }
    function fnSearch() {
        fnGetUserList();
    }
    function HiddenSelectUser(id) {
        if ($("#" + id) != undefined && $("#" + id) != null) {
            $("#pop_userList tbody input[type='checkbox']").each(function () {
                if ((',' + $("#commonSelectedIdStr").val() + ',').indexOf(',' + $(this).attr('id') + ',') >= 0) {
                    $(this).attr('checked', true);
                    $(this).attr('disabled', 'disabled');
                }
            });
        }
    }
    
</script>