@charset "utf-8";
/* CSS Document */


html{color:#000;background:#fff;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
*{margin:0 auto;padding:0;}
body,button,input,select,textarea{font:12px/1.5 "宋体",tahoma,arial;}

button,input,select,textarea{font-size:100%;}
button{background:none;border:0 none;cursor:pointer;}
input,label{line-height:18px;vertical-align:middle;}
label{display: inline-block;vertical-align: baseline;}
select{line-height:18px;padding:2px 0px;}
input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none 0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
table tr,table tr td{border:none 0;}
th{text-align:inherit;}

fieldset,img{border:none 0;}
iframe{display:block;}
abbr,acronym{border:none 0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
q:before,q:after{content:'';}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
a:hover{text-decoration:underline;}
ins,a{text-decoration:none;}


.dis_no,.hide{display:none;}
.dis_bl{display:block;}
.dis_in{display:inline;}
.dis_ib{display:inline-block;}

.pos_s{position:static;}
.pos_a{position:absolute;}
.pos_r{position:relative;}
.pos_f{position:fixed;}

.fl{float:left;}
.fr{float:right;}
.clb:after{content:" "; display:block; height:0; clear:both;}
.clb{*zoom:1;}
.clear:after{content:" "; display:block; height:0; clear:both;}
.clear{*zoom:1;}



.z_0{z-index:999;}
.z_1{z-index:310;}
.z_2{z-index:300;}
.z_3{z-index:290;}
.z_4{z-index:280;}
.z_5{z-index:270;}







.m10{margin:10px;}
.mt2{margin-top:2px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}

.mb1{margin-bottom:1px;}
.mb5{margin-bottom:5px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

.ml5{margin-left:5px;}
.ml8{margin-left:8px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml70{margin-left:70px;}
.mll4{margin-left:4%;}


.p2{padding:2px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p20{padding:20px;}

.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}

.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}

.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}

.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}



.bd_no{border:0}
.bd_so_ccc{border:1px solid #ccc;}
.bd_so_000{border:1px solid #000;}

.bd_do_ccc{border:1px dotted #ccc;}
.bd_do_000{border:1px dotted #000;}




.bg_af{background-attachment:fixed}
.bg_as{background-attachment:scroll}
.bg_cc{background-color:#ccc}
.bg_f5{background-color:#F5F5F5}
.bg_ff{background-color:#fff}
.bg_00{background-color:#000}
.bg_gray{background-color:#f06;}



.c00{color:#000;}
.c33{color:#333;}
.c4c{color:#4c4c4c;}
.cff{color:#fff;}
.c80{color:#808080;}
.c55{color:#555;}
.c4d{color:#4d4d4d;}
.red{color:#c00;}
.ccc{color:#ccc;}
.caa{color:#aaa;}
.c06c{color:#06c;}
.cc70{color:#c70;}

.c_bold{font-weight:bold;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}

.lh20{line-height:20px;}
.lh24{line-height:24px;}
.lh30{line-height:30px;}

.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.tj{text-align:justify;}

.notext{text-indent:-9999px;}
.testIn{text-indent:2em;}
.do_warp{word-wrap:break-word;overflow:hidden;}
.no_warp{white-space:nowrap;}
.text-over,.ovh{text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}

.roll_x{overflow-x:auto;}
.roll_y{overflow-y:auto;}
.roll_xy{overflow:auto;}

.pointer{cursor:pointer;}
.curt{cursor:text;}
