@using LiXinModels
@using LiXinLanguage
@{
    ViewBag.Title = NavigateMenuLanguage.MonthPlan;
    
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "MonthPlan"
}))
    <div  class="so-set">
        <table class="tab-Form">
            <tr>
                <td><div class="ml10">
                @Html.Action("YearMonthSelect", new
                                 {
                                     viewType = 0,
                                     dataType = 1
                                 })</div>
                </td>
                <td class="so-do">
                    @*<input type="button" class="btn" value="立即搜索" onclick="Getdata()" />*@
                    <input type="button" class="btn btn-co" value="新增月度计划" onclick="Add()" />
                </td>
            </tr>
        </table>
    </div>
    <div class="mt10">
        <table class="tab-List">
            <thead>
                <tr>
                    <th>
                        序号
                    </th>
                    <th jsrendersortfield="Year" sort="asc">
                        年度
                    </th>
                    <th jsrendersortfield="month" sort="asc">
                        月份
                    </th>
                    <th jsrendersortfield="courseCount" sort="asc">
                        包含课程数
                    </th>
                    <th>
                        计划状态
                    </th>
                    <th>
                        创建人
                    </th>
                    <th class="span16">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody id="monthPlanList" class="tc">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<script id="monthPlanTemplate" type="text/x-jsrender">
   {{for #data}}
       <tr>
          <td>{{:#index+1}}</td>
          <td>{{:Year}}</td>
          <td>{{:Month}}</td>
          <td>{{:courseCount}}</td>
          <td>{{:PublishFlagStr}}</td>
          <td>{{:RealName}}</td>
          <td>
            {{if PublishFlag==0}}
                <a onclick="Publish({{:Id}})" class="icon ipub" title="发布"></a>
               
                <a onclick="Delete({{:Id}})" class="icon idel" title="删除"></a>
            {{else}}
                <a class="icon ipub idis" title="发布"></a>
                
                <a class="icon idel idis" title="删除"></a>
            {{/if}}
             <a onclick="Edit({{:Id}},{{:Year}},'{{:Month}}')" class="icon iedit" title="编辑"></a>
               <a onclick="view({{:Id}})"  class="icon iview" title="查看详情"></a>
               <a onclick="Compare({{:Id}},{{:Year}},'{{:Month}}')" class="icon icon-dif" title="差异对比"></a>
          </td>
       </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        Getdata();
    });

    function Getdata()
    {
        $("#monthPlanList").JsRenderData({
            sourceUrl: getParamUrl(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            jsRenderSortField: "month",
            jsRenderASC: " ASC",
            templateID: "monthPlanTemplate"
        });
    }

    function getParamUrl()
    {
        return "/PlanManage/GetMonthplan?year=" + $("#year").val() + "&month=" + $("#month").val() + "&publish=" + $("#selpublish").val() + "&t=" + Date();
    }

    //发布
    function Publish(id)
    {
        art.dialog({
            content: "您确认发布吗？",
            ok: function ()
            {
                $.post("/PlanManage/Publish?id=" + id, function (data)
                {
                    if (data.result == 1)
                    {
                        Getdata();
                    }
                    else
                    {
//                        art.dialog({
//                            content: data.content,
//                            time: 3
//                        });
                        art.dialog.tips(data.content, 3);
                    }
                });
            },
            cancel: true
        });
    }

    //删除
    function Delete(id)
    {
        art.dialog({
            content: "您确认删除吗？",
            ok: function ()
            {
                $.post("/PlanManage/Delete?id=" + id, function (data)
                {
                    if (data.result == 1)
                    {
                        Getdata();
                    }
                    else
                    {
//                        art.dialog({
//                            content: data.content,
//                            time: 3
                        //                        });
                        art.dialog.tips(data.content, 3);
                    }
                });
            },
            cancel: true
        });
    }


    function Add()
    {
        window.location.href = "/PlanManage/addMonthPlan?id=0";
    }


    function Edit(id, year, month)
    {
        window.location.href = "/PlanManage/addMonthPlan?id=" + id + "&year=" + year + "&month=" + month;
    }

    function view(id)
    {
        window.location.href = "/PlanManage/MonthPlanDetail?id=" + id;
    }
    function Compare(id, year, month)
    {
        window.location.href = "/PlanManage/MonthPlanCompare?id=" + id + "&year=" + year + "&month=" + month;
    }

//    function send()
//    {
//        $.getJSON("/PlanManage/");
//    }
</script>
