<?xml version="1.0" encoding="utf-8" ?>
<DotNet.Common.FileConvert >
  <!--字体路径(Text2Pdf需要用到)-->
  <add key="fontPath" value="C:\Windows\Fonts\STFANGSO.TTF"></add>
  <!--默认30分钟(1000 * 60 * 30)-->
  <add key="timeOut" value="1800000"/>
  <!--ffmpeg.exe路径（可为空，默认debug目录）-->
  <add key="ffmpegPath" value=""></add>
  <!--ffmpeg命令参数-->
  <add key="ffmpegArgu" value="-y -ab 128 -acodec libmp3lame -ar 22050 -qscale 6 -r 15 -s 640x480"></add>
  <!--pdf2swf.exe路径（可为空，默认debug目录）-->
  <add key="pdf2swfPath" value=""></add>
  <!--pdf2swf命令参数-->
  <add key="pdf2swfArgu" value="flashversion=9 -s width=480 -s height=640"></add>
  <!--faststart.exe路径（可为空，默认debug目录）-->
  <add key="faststartPath" value=""></add>
  <!--faststart命令参数-->
  <add key="faststartArgu" value="-f -T 9 -G"></add>



  <!--soffice路径-->
  <add key="sofficePath" value="C:\Program Files\LibreOffice 4\program\soffice.exe"></add>
  <!--soffice命令参数-->
  <add key="sofficeArgu" value="--headless --convert-to pdf --outdir"></add>
</DotNet.Common.FileConvert>