@{
    ViewBag.Title = "差异对比详情";
}
<span>
    <h3 class="tit-h3">@ViewBag.head</h3>
</span>
<table class="tab-List mt10">
    <thead>
        <tr>
             <th class="span4">序号
                </th>
                <th>课程名称
                </th>
                <th class="span16">预计开课时间
                </th>
                <th class="span12">开放级别
                </th>
                <th class="span8">培训形式
                </th>
                <th class="span8">学时</th>
                <th class="span8">是否可折算CPA学时</th>
                <th class="span8">地点</th>
                <th class="span7">讲师姓名
                </th>
                <th class="span12">讲师薪酬
                </th>
                <th class="span8">必修/选修
                </th>
                <th class="span4">框架内/外
                </th>
        </tr>
    </thead>
    <tbody id="monthCourseList">
    </tbody>
    <tfoot>
    </tfoot>
</table>
<input type="button" class="btn  btn-cancel" value="返回" onclick="black()" />
<script id="monthCourseTemplate" type="text/x-jsrender">
   {{for #data}}
       <tr>
            <td>{{:#index+1}}</td>
            <td><div class="ovh span18 tl" title="{{:CourseName}}">{{:CourseName}}</div></td>
            <td>{{:PreCourseTimeStr}}</td>
            <td>{{:OpenLevel}}</td>
            <td>{{:WayStr}} </td>
            <td>{{:CourseLength}}</td>
            <td>{{:IsCPAstr}}</td>
            <td>
                <div class="ovh span8 tl" title=" {{:RoomNamestr}}"> {{:RoomNamestr}}</div>
            </td>
            <td>
               <div class="ovh span8 tl" title="{{:Realname}}">{{:Realname}}</div>
            </td>
            <td>
              <div class="ovh span10 tl" title="{{:PayGrade}}">{{:PayGrade}}</div>
            </td>
            <td>{{:IsMustStr}} </td>
            <td>{{:IsSystemStr}} </td>
       </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        Getdata();
    });

    //月度课程
    function Getdata()
    {
        $("#monthCourseList").JsRenderData({
            sourceUrl: getmonthUrl(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "monthCourseTemplate"
        });
    }

    function getmonthUrl()
    {
        return "/PlanManage/GetCompareDetail?year=@ViewBag.year&month=@ViewBag.month&type=@ViewBag.type";
    }

    function black()
    {
        window.location.href = "MonthPlanCompare?year=@ViewBag.year&month=@ViewBag.month&id=@ViewBag.id";
    }

</script>
