@{
    ViewBag.Title = "我的申请";
  
}

<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "我的申请"
}))
    <div class="step-app">
        <div class="on"><span>1</span>选择申请内容<i></i></div>
        <div><span>2</span>输入学时<i></i></div>
    </div>
    <div id="ordermain">
        <div class="so-set">
            <table class="tab-Form">
                <tr>
                    <td class="Tit span6">申请内容：
                    </td>
                    <td class="span31">
                        <input type="text" class="span30 searchclass" id="txtCoName" value="请输入搜索申请内容" info="请输入搜索申请内容" />
                    </td>
                    <td class="Tit span6">申请年度：
                    </td>
                    <td class="span31">
                        <input id="selyear" name="Year" type="text" readonly="readonly" onclick="WdatePicker({ onpicking: function (dp) { InitData(dp.cal.getNewDateStr()); }, dateFmt: 'yyyy' }); " 
                        value="@(DateTime.Now.Year)" />
                    </td>
                    <td>
                        <input type="button" class="btn" value="查询" id="btn_find" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mt10">
            <table class="tab-List">
                <thead>
                    <tr>
                        <th class="span4">
                            @*<input type="checkbox" id="selectall"  />*@
                        </th>
                        <th class="span4">序号
                        </th>
                        <th class="span14">申请内容
                        </th>
                        <th class="span10">学时折算方法
                        </th>
                        <th class="span10" style="text-align:left">可折算内部培训学时<br />
                            年度的最高限制
                        </th>
                        @if (ViewBag.cpa == 1)
                        {
                            <th class="span10"  style="text-align:left">可折CPA学时<br />
                                年度的最高限制
                            </th>
                        }
                        <th class="span8">需要上传文件
                        </th>
                    </tr>
                </thead>
                <tbody id="orderList">
                </tbody>
                <tfoot>
                </tfoot>
            </table>

        </div>
        <div>
            <input type="button" value="下一步" class="btn" id="btn_next" />
            <input type="button" value="取消" class="btn" id="btn_cancel" />
        </div>
    </div>
</div>
<script id="courseListTemplate" type="text/x-jsrender">
    {{for #data}}
    <tr>     
        <td>
            <input id="id_{{:ID}}" type="radio"   value="{{:ID}}" name="check"/>
           @*<input type="checkbox" id="id_{{:ID}}" value="{{:ID}}" name="check" />*@
    </td>
        <td>
            {{:#index+1}} 
        </td>
        <td style="text-align:left;"><div  title="{{:ApplyContent}}">{{:ApplyContent}}</div></td>
         {{if ApplyType==1}}
            <td>{{:ConvertBaseTo}} <span>个学时/</span>{{:ConvertBase}}{{:ConvertBaseInfo}}</td> 
            <td>
                
                {{if JiBie=="0"}}
                    无上限
                {{else}}
                    {{:JiBie}}
                {{/if}}
            </td>
        {{/if}}
        {{if ApplyType==0}}
            <td  style="text-align:left">按实际授课、主持或演讲时间的 {{:ConvertBaseTo}} 倍折算学时</td> 
            <td>{{:TrainGradeScoreStr}}</td> 
        {{/if}} 
        {{if ApplyType==2}}
            <td>参与课后评估提交后追加 {{:ConvertBaseTo}} 倍折算学时</td>
            <td>{{:TrainGradeScoreStr}}</td> 
        {{/if}}       
      {{if @ViewBag.cpa == 1}}
            {{if ApplyType!=2}}
                <td>
                    {{if ConvertMaxStr=="0.00"}}
                        无上限
                    {{else}}
                        {{:ConvertMaxStr}}
                    {{/if}}
                </td> 
            {{else}}
                 <td>N/A </td> 
           {{/if}}
     {{/if}}
        <td style="text-align: left;">{{:UploadTipStr}}</td>
    </tr> 
    {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        //查询条件输入框初始化
        initSearch();

        InitData();
        $("#btn_find").click(function ()
        {
            InitData();
        })
        $("#btn_next").click(function ()
        {
          
            var id = $("input[type='radio']:checked").val();

            if ($("input[type='radio']:checked").length == 0)
            {
                art.dialog.tips('请选择申请内容', 3);
                return;
            }
            location.href = "/MyApply/Free_OtherFromAdd_Second?ids=" + id
                            + "&year=" + $("#selyear").val();
            // }
        });
        $("#btn_cancel").click(function ()
        {
            location.href = '/MyApply/MyApply?flag=4';
        })
    })

    function InitData(year)
    {
        //debugger;
        year = year == undefined ? $("#selyear").val() : year;
        var v = "othername=" + encodeURI(getSearchWord("txtCoName")) + "&year=" + year;
        $("#orderList").JsRenderData({
            sourceUrl: '/MyApply/Free_OtherFromAddList?' + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            jsRenderSortField: "ApplyType",
            jsRenderASC: "desc",
            templateID: "courseListTemplate",
            funCallback: function ()
            {
                SetCheckBox('selectall', 'orderList');
            }
        });
    }
</script>
