@using LiXinLanguage
@model LiXinModels.User.Sys_User
@{
    ViewBag.Title = NavigateMenuLanguage.TeacherIndex;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "TeacherIndex"
}))
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">
                    讲师姓名：
                </td>
                <td class="span24">
                    <input type="text" class="span25 Box searchclass" id="RealName" value="请输入搜索内容" info="" />
                </td>
                <td class="Tit span6">
                    讲师薪酬：
                </td>
                <td>
                    <input type="text" class="span25 Box searchclass" id="PayGrade" value="请输入搜索内容" info="" />
                </td>
                <td class="so-do" rowspan="2">
                    <input class="btn" type="button" value="搜索" id="btnSearch" onclick="Getdata();" />
                    <input onclick="AddInnerTeacher();" class="btn btn-co" type="button" value="添加内部讲师">
                    <input onclick="AddOutserTeacher();" class="btn btn-co" type="button" value="添加外聘讲师">
                </td>
            </tr>
        </table>
    </div>
    <div class="so-seq">
        <select id="isTeacher" onchange="Getdata();">
            <option value="0">讲师性质</option>
            <option value="1">内部</option>
            <option value="2">外聘</option>
        </select>
    </div>
    <div class="mt10">
        <table class="tab-List">
            <thead>
                <tr>
                    <th class="span4">
                        序号
                    </th>
                    <th class="span20">
                        讲师姓名
                    </th>
                    <th class="span6">
                        性别
                    </th>
                    <th class="span8">
                        讲师性质
                    </th>
                    <th class="span8">
                        讲师薪酬
                    </th>
                    <th class="span8">
                        联系方式
                    </th>
                    <th class="span20">
                        邮箱
                    </th>
                    <th class="span8">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody id="teacherList" class="tc">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<input id="AllUserID" type="hidden" />
<script id="teacherListTemplate" type="text/x-jsrender">
   {{for #data}}
       <tr>
          <td>{{:#index+1}}</td>
          <td style="text-align:left;">
               <div class="span20 ovh" title="{{:Realname}}">{{:Realname}}</div>
          </td>
          <td >{{:SexStr}}</td>
          <td >{{:teacherType}}</td>
          <td style="text-align:left;">
               <div class="span20 ovh" title="{{:PayGradestr}}">{{:PayGradestr}}</div>
          </td>
          <td >{{:Telephonestr}}</td>
          <td>
            <div class="span20 ovh" title="{{:Emailstr}}"> {{:Emailstr}}</div>
          </td>
          <td >             
           {{if IsTeacher==2}}
              <a class="icon iedit" onclick="Edit({{:UserId}})" title="编辑"></a>
           {{else}}
              <span class="icon iedit idis" title="编辑"></span>
           {{/if}}
            
            <a class="icon idel" onclick="Delete({{:UserId}},{{:IsTeacher}})" title="删除"></a>
            <a class="icon iview" onclick="view({{:UserId}})" title="查看详情"></a>
          </td>
       </tr>
   {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        //初始化查询条件
        initSearch();
        Getdata();
    });

    function Getdata()
    {
        $("#teacherList").JsRenderData({
            sourceUrl: getParamUrl(),
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "teacherListTemplate",
            funCallback: function (data)
            {
                if (data.teacherIDs != "")
                {
                    $("#AllUserID").val(data.teacherIDs);
                }
            }
        });
    }

    function getParamUrl()
    {
        return "/TeacherManage/GetAllTeacher?RealName=" + escape($.trim(getSearchWord("RealName")))
               + "&isTeacher=" + $("#isTeacher").val() + "&PayGrade=" + escape($.trim(getSearchWord("PayGrade")))+ "&deptid=99999" + escape($.trim(getSearchWord("PayGrade"))) + "&t=" + Date();
    }

    //添加内部讲师弹出框
    function AddInnerTeacher()
    {
        art.dialog.load("/UserCommon/SelectUser", { title: '新增内部讲师', id: "art_AddInnerTeacher", height: 510 });
    }

    //添加内部讲师
    function GetUserIDList()
    {
        //var userIds = GetChecked('pop_userList');
        var userIds = $("#commonSelectedIdStr").val();
        var haveID = $("#AllUserID").val();
        $("#AllUserID").val(haveID == "" ? userIds : haveID + "," + userIds);
        if (userIds != "")
        {
            $.getJSON("/TeacherManage/AddInnerTeacher?userID=" + userIds, function (data)
            {
                if (data.result == 1)
                {
                    $("#RealName").val("");
                    $("#PayGrade").val("");
                    closeDialog("art_AddInnerTeacher");
                    Getdata();
                }
                else
                {
                    art.dialog.tips(data.content, 3);
                }
            });
        }
        else
        {
            art.dialog.tips("请选择人员", 3);
        }

    }

    //添加外聘讲师
    function AddOutserTeacher()
    {
        art.dialog.load("/TeacherManage/AddTeacher", { title: '编辑外聘讲师', id: "art_AddOutserTeacher", width: 550, height: 320 });
    }

    //添加外聘讲师
    function InsertOuterTeacher()
    {
        //alert(111);
        var email = $.trim($("#pop_Email").val());
        var phone = $.trim($("#pop_Telephone").val());

        $.post("/TeacherManage/AddOuterTeacher", $("#formAddTeacher").formSerialize(), function (data)
        {
            if (data.result == 1)
            {

                closeDialog("art_AddOutserTeacher");
                $("#RealName").val("");
                $("#PayGrade").val("");
                $("#isTeacher option[value=0]").attr("selected", true)
                Getdata();
            } else
            {
                art.dialog.tips(data.content, 3);
            }
        });
    }

    //删除
    function Delete(userID, isteacher)
    {
        art.dialog({
            content: "您确认删除吗？",
            ok: function ()
            {
                $.post("/TeacherManage/DeleteTeacher?userID=" + userID + "&isteacher=" + isteacher, function (data)
                {
                    if (data.result == 1)
                    {

                        Getdata();
                    }
                    else
                    {
                        art.dialog({
                            content: data.content,
                            time: 3
                        });
                    }
                });
            },
            cancel: true
        });
    }

    function Edit(userID)
    {
        art.dialog.load("/TeacherManage/AddTeacher?userID=" + userID, { title: '编辑外聘讲师', id: "art_AddOutserTeacher", width: 400, height: 300 });

    }

    function view(userID)
    {
        art.dialog.load("/TeacherManage/TeacherDetails?userID=" + userID, { title: '讲师详情', id: "art_TeacherDetails", width: 550, height: 300 });

    }
</script>
