@{
    ViewBag.Title = "讲师评价详情";
}

<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new { linkName = "讲师评价详情" }))
    <table class="tab-List mt10">
        <thead>
            <tr>
                <th class="span4">序号
                </th>
                <th class="span5">课程名称
                </th>
                <th class="span7">课程时间段
                </th>
                <th class="span12">上课人数
                </th>
                <th class="span8">评价人数
                </th>
                <th class="span7">总得分
                </th>

            </tr>
        </thead>
        <tbody id="Courstlist">
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
<script id="CourseListTemplate" type="text/x-jsrender">
     {{for #data}}
        <tr class="{{:IsAppoint>0?"top":""}}">
            <td>
            {{:#index+1}}
            </td>
            <td style="text-align:left;">
                {{:CourseName}}
            </td>
            <td>
                {{:CourseTime}}
            </td>
            <td>
                {{:NumberofCourse}}
            </td>            
            <td>
                {{:NumberofStatistics}}
             </td>
            <td>
               {{:Sumscore}}
            </td>            
        </tr> 
    {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        //加载列表
        InitData();
    });

    function InitData()
    {
        $("#Courstlist").JsRenderData({
            sourceUrl: '/NewQueryStatistics/GetCourseStatistics?teacherID=@ViewBag.teacherID',
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "CourseListTemplate"
        });
    }
</script>

