@using LiXinModels.PlanManage
@{
    Layout = null;
    ViewBag.Title = "MyCPACourse";
    var StrCPAYear = ViewData["StrCPAYear"] as List<string>;
    var allsum = ViewData["allsum"] as string;
}
<div class="so-set">
    <table class="tab-Form">
        <tr>
            <td class="Tit span6">课程名称：</td>
            <td>
                <input type="text" class="span30 searchclass" id="tbTitle" value="请输入搜索课程" info=""/>
            </td>
            <td class="so-do">
                <input class="btn" type="button" value="搜索" id="ibtnCPASearch"/>
            </td>
        </tr>
    </table>
</div>
<div class="so-seq">
        <select id="selyear" onchange="cpaChange();">
            @{ 
                for (int i = 0; i < StrCPAYear.Count; i++)
                {
                    <option value="@(StrCPAYear[i])">@(StrCPAYear[i])</option>
                }
            }
        </select>
        <div class="list-do lh30">
            <label>CPA课程目标学时：</label><span id="allsum">@(allsum)</span>
            <label class="ml20">已获得学时：</label><span id="passsum">0</span>
            <label class="ml20">职业道德已获得学时：</label><span id="daode">0</span>
            <label class="ml20">完成率：</label><span id="lengthRate">0</span>
        </div>
</div>
<div class="mt10">
    <table class="tab-List">
        <thead>
            <tr>
                <th>序号</th>
                <th>课程名称</th>
                <th>学时类型</th>
                <th>课程学时</th>
                <th>课程时间</th>
                <th class="span8">获得学时</th> 
            </tr>
        </thead>
        <tbody id="CPAcourseList">
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<script id="CPAcourseTemplate" type="text/x-jsrender">
    {{for #data}}
        <tr>
            <td>{{:#index+1}}</td>
            <td><div class="tl span30 ovh" title="{{:CourseName}}">{{:CourseName}}</div></td>
            <td>{{:CpaFlagStr}}</td>
            <td>{{:CourseLength}}</td>
            <td><div class="f11">{{:CourseTime}}</div></td>
            <td>{{:GetLength}}</td>
        </tr>  
    {{/for}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        //查询条件输入框初始化
        initSearch();
        if ($("#selyear option").length > 0)
            InitCPAList(getCPAUrl());
        else
            $("#mycourseList").html('<tr><td colspan="5">暂无数据</td></tr>');
        //查询
        $("#ibtnCPASearch").bind("click", function () {
            InitCPAList(getCPAUrl());
        });
    });

    //显示年度培训课程列表
    function InitCPAList(url) {
        var templateId = 'CPAcourseTemplate';
        $("#CPAcourseList").JsRenderData({
            sourceUrl: url,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: templateId,
            funCallback: function (data) {
                if (data.dataList.length != 0) {
                    $("#passsum").html(data.dataList[0].passsum);
                    $("#daode").html(data.dataList[0].daode);
                    $("#lengthRate").html(data.dataList[0].lengthRate);
                } else {
                    $("#passsum").html("0");
                    $("#daode").html("0");
                    $("#lengthRate").html("0%");
                }
            }
        });
    }

    function getCPAUrl() {
        return "/UserManage/GetMyCPACourse?year=" + escape($.trim($("#selyear").val())) + "&name=" + escape($.trim(getSearchWord("tbTitle"))) + "&allsum=@(allsum)&t=" + new Date();
    }

    function cpaChange() {
        InitCPAList(getCPAUrl());
    }
</script>

