<Retech>
  <connectionStrings>
    <!--<add name="RetechData" connectionString="server=172.16.1.62;database=LiXin_SuperLMS;uid=lixin;pwd=Retech123456"/>-->
    <!--<add name="RetechData" connectionString="server=192.168.4.20;database=LiXinLMS;uid=sa;pwd=123456"/>-->
    <add name="RetechData" connectionString="server=192.168.100.180\sql2008;database=LMS20140806;uid=sa;pwd=Retech123456"/>
    <!--<add name="RetechData" connectionString="server=192.168.100.180\sql2008;database=LiXinLMSNew9;uid=sa;pwd=Retech123456"/>-->
    <!--<add name="RetechData" connectionString="server=.\sqlexpress;database=LiXinLMS;uid=sa;pwd=123456"/>-->
    <!--<add name="RetechData" connectionString="server=172.16.1.62;database=LiXinLMS_second;uid=lixin;pwd=Retech123456"/>-->
    <!--<add name="RetechData" connectionString="server=172.16.1.14;database=LiXin_SuperLMS;uid=tms;pwd=acidity"/>-->
  </connectionStrings>

  <Roles>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
  </Roles>
</Retech>
