<Retech>
  <connectionStrings>
    <!--<add name="RetechData" connectionString="server=192.168.4.20;database=LiXinLMS;uid=sa;pwd=123456"/>-->
    <!--<add name="RetechData" connectionString="server=192.168.4.237;database=LiXinLMS2;uid=sa;pwd=qxtni."/>-->
    <add name="RetechData" connectionString="server=172.16.1.62;database=LiXin_LMS20130424;uid=lixin;pwd=Retech123456"/>
    <!--<add name="RetechData" connectionString="server=192.168.4.104\sql2008;database=LiXinLMS4;uid=sa;pwd=Retech123456"/>-->
  </connectionStrings>

  <Roles>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
    <add ControllerAction="RightManage-UserManage" Role="Admin,User"/>
  </Roles>
</Retech>
