@{
    ViewBag.Title = "SingleTogetherSurvey";
    Layout = null;
}
<div class="so-set">
    <table class="tab-Form">
        <tr>
            <td class="Tit span6">部门/分所：</td>
            <td>
                <input type="button" id="btn_deptid" value="选择部门/分所" class="btn  btn-co" />
            </td>
            <td class="Tit span6">时间：
            </td>
            <td class="span60">
                <div class="time-choose" style="float: left">
                    <input type="text" id="txt_StartTime" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'txt_EndTime\',{m:-1})}' })  " />
                    <i></i>
                </div>
                至
                    <div class="time-choose">
                        <input type="text" id="txt_EndTime" readonly="readonly" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'txt_StartTime\',{m:1})}' })" />
                        <i></i>
                    </div>
            </td>
            <td class="so-do">
                <input class="btn" type="button" value="搜索" id="btnSearch" />
                <input type="button" class="btn btn-co" value="导出EXCEL" id="btnout" onclick="outTogetherJoinScore()" />
            </td>
        </tr>
    </table>
</div>
<div class="mt10">
    <table class="tab-List" id="tbSurveyJoin">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th colspan="5" style="background-color: gray">评估</th>
                <th colspan="8">测试</th>
            </tr>
            <tr>
                <th>序号</th>
                <th>部门/分所</th>
                <th jsrendersortfield="HaveJoin" sort="desc">应参加评估人数</th>
                <th jsrendersortfield="SurveyNumber" sort="desc">实际参加评估人数</th>
                <th jsrendersortfield="SurveyJoinRate" sort="desc">评估参与率</th>
                <th jsrendersortfield="Survey_CourseScoreDouble" sort="desc">课程评估均分</th>
                <th jsrendersortfield="Survey_TeacherScoreDouble" sort="desc">讲师评估均分</th>
                <th jsrendersortfield="ExamHaveJoin" sort="desc">测试应参与人数</th>
                <th jsrendersortfield="ExamJoin" sort="desc">测试实际参与人数</th>
                <th jsrendersortfield="ExamJoinRate" sort="desc">测试参与率</th>
                <th jsrendersortfield="ExamPassRate" sort="desc">测试通过率</th>
                <th jsrendersortfield="AnswerTime" sort="desc">平均答题时间</th>
                <th jsrendersortfield="avgAnswerTimes" sort="desc">平均答题次数</th>
                <th jsrendersortfield="avgExamScore" sort="desc">平均得分</th>
                <th></th>
            </tr>

        </thead>
        <tbody id="deptList" data-status="0">
            <tr>
                <td colspan="14">
                    <div class="tc c38 line_h30">正在努力加载....</div>
                </td>
            </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    <input id="txt_deptid_list" type="hidden" />
</div>
  <div class="mt10 tc">
    <input type="button" id="btnback" class="btn btn-cancel" value="返回">
</div>
<script>
    $(document).ready(function ()
    {
        ShowSingleTogtherSurvey();

        MyTablesort("tbSurveyJoin", InitAllData);

        $("#btn_deptid").bind("click", function ()
        {
            art.dialog.load("/Report_zAttendce/SelectDept?deptid=0&ReportType=0&naru=1&cpa=-1", { title: '选择部门/分所', id: "win_deptmanage" }, false);
        });

        $("#btnback").bind("click", function ()
        {
            window.location.href = "CourseList?index=1&type=1";
        });

        $("#btnSearch").bind("click", function ()
        {
            var starttime = $("#txt_StartTime").val();
            var endtime = $("#txt_EndTime").val();
            if ((starttime != "" && endtime == "") || (starttime == "" && endtime != ""))
            {
                art.dialog.tips("请将时间段填写完成！", 3);
                return;
            }
            InitAllData();
            MyTablesort("tbSurveyJoin", InitAllData);
        });
      

    });

    function ShowSingleTogtherSurvey()
    {
        if ("@ViewBag.cp" == "1")
         {
             $("#txt_deptid_list").val("@ViewBag.deptid");
            $("#txt_StartTime").val("@ViewBag.StartTime");
            $("#txt_EndTime").val("@ViewBag.EndTime");
        }
        InitAllData();
    }

    //合计
    function InitAllData(jsRenderSortField)
    {
        var type = 0;
        if (jsRenderSortField == undefined)
        {
            jsRenderSortField = "SurveyJoinRate desc";
        }
        else
        {
            jsRenderSortField = jsRenderSortField;
        }

        var html = "";
        
        $.post('/Report_Together/GetSingleTogtherSurvey?courseID=@ViewBag.courseID&sDate=' + $("#txt_StartTime").val() + '&eDate=' + $("#txt_EndTime").val() +
            "&SurveyPaperId=" + $("#hidSurveyPaperId").val() + "&isPing=" + $("#hidisPing").val() + "&isTest=" + $("#hidisTest").val()
            + "&jsRenderSortField=" + jsRenderSortField + "&courseStarttime=" + $("#hidStartTime").val()
            , { deptids: $("#txt_deptid_list").val() }, function (data)
            {
                
                if (data.result == 1)
                {
                    html = html + $("#AllListTemplate").render(data.all);
                    var zlength = data.zongList.length;
                    var flength = data.fengList.length;
                    if (zlength == 0 && flength == 0)
                    {
                        html = html + "<tr class='odd'><td colspan='14'><div class='tc c38 line_h30'>暂无数据</div></td></tr>";
                    }
                    else
                    {
                        if (zlength > 0)
                        {
                            html = html + $("#AllListTemplate").render(data.zong);
                            html = html + $("#deptListTemplate").render(data.zongList);
                        }
                        if (flength > 0)
                        {
                            html = html + $("#AllListTemplate").render(data.feng);
                            html = html + $("#deptListTemplate").render(data.fengList);
                        }
                    }
                }
                $("#deptList").html(html);
                if ($("#deptList").attr("data-status") == '0')
                {
                    $("#deptList").attr("data-status", 1);

                } else
                {
                    $("#deptList tr").show();
                    $("#deptList tr .btnshow").attr("class", "buttonshow btnshow");
                }
            });
    }

    //显示隐藏  2分所  1总所
    function showHide(type, obj)
    {
        var isMain = type == 2 ? 0 : 1;
        if ($(obj).hasClass("buttonshow"))
        {

            $(".report_" + isMain).hide();
            $(obj).removeClass('buttonshow').addClass('buttonhide');
        }
        else
        {
            $(".report_" + isMain).show();
            $(obj).removeClass('buttonhide').addClass('buttonshow');
        }

    }

    function outTogetherJoinScore()
    {
        window.location.href = "outTogetherSurveyScore?isPing=" + $("#hidisPing").val() + "&isTest=" + $("#hidisTest").val();
    }

    function searchByDept()
    {
        art.dialog.list['win_deptmanage'].close();
        InitAllData();
    }
</script>

<!--参与情况-->
<script id="deptListTemplate" type="text/x-jsrender">
  {{for #data}}
     <tr class="report_{{:IsMain}}" style="display:none">
        <td>{{:#index+1}}</td>
        <td style="text-align:left"><a onclick="viewDetails('{{:DeptIds}}',1)" style="cursor:pointer">{{:DeptName}}</a></td>
        <td>{{:HaveJoinStr}}</td>
        <td>{{:SurveyNumberStr}}</td>
        <td>{{:SurveyJoinRateStr}}</td>
        <td>{{:Survey_CourseScore}}</td>
        <td>{{:Survey_TeacherScore}}</td>
        <td>{{:ExamHaveJoinStr}}</td>
        <td>{{:ExamJoinStr}}</td>
        <td>{{:ExamJoinRateStr}}</td>
        <td>{{:ExamPassRateStr}}</td>
        <td>{{:AnswerTimeStr}}</td>
        <td>{{:avgAnswerTimesStr}}</td>
        <td>{{:avgExamScoreStr}}</td>
        <td></td>
     </tr>
  {{/for}}
</script>
<!--合计-->
<script id="AllListTemplate" type="text/x-jsrender">
    {{for #data}}
      <tr>
        <td></td>
        <td>{{:DeptName}}</td>
        <td>{{:HaveJoinStr}}</td>
        <td>{{:SurveyNumberStr}}</td>
        <td>{{:SurveyJoinRateStr}}</td>
        <td>{{:Survey_CourseScore}}</td>
        <td>{{:Survey_TeacherScore}}</td>
        <td>{{:ExamHaveJoinStr}}</td>
        <td>{{:ExamJoinStr}}</td>
        <td>{{:ExamJoinRateStr}}</td>
        <td>{{:ExamPassRateStr}}</td>
        <td>{{:AnswerTimeStr}}</td>
        <td>{{:avgAnswerTimesStr}}</td>
        <td>{{:avgExamScoreStr}}</td>
        <td>
           {{if type>0}}
             <a class="buttonhide btnshow"   onclick="showHide({{:type}},this)"><a>
           {{/if}}
        </td>
     </tr>
     {{/for}}
</script>

