@{
    ViewBag.Title = "授权审批人";
}
<div class="main-c">
    @(Html.Action("SiteMapLink", "Common", new
{
    linkName = "授权审批人"
}))
    <div class="so-set">
        <table class="tab-Form">
            <tr>
                <td class="Tit span6">姓名：</td>
                <td>
                    <input id="txtName" type="text" class="span16  searchclass" value="请输入搜索内容" info="请输入搜索内容" />
                </td>
                <td class="Tit span6">部门名称：</td>
                <td>
                    <input id="txtDeptName" type="text" class="span16  searchclass" value="请输入搜索内容" info="请输入搜索内容" />
                </td>
                <td class="so-do">
                    <input type="button" value="搜索" class="btn" onclick="Getdata();" />
                </td>
            </tr>
        </table>
    </div>

    <div class="mt10">
        <table class="tab-List">
            <thead>
                <tr>
                    <th class="span4">序号
                    </th>
                    <th class="span8">姓名
                    </th>
                    <th class="span8">性别
                    </th>
                    <th class="span8">培训级别
                    </th>
                    <th class="span18">部门名称
                    </th>
                    <th class="span8">是否为审批人
                    </th>
                    <th class="span8">审批范围
                    </th>
                    <th class="span6">操作
                    </th>
                </tr>
            </thead>
            <tbody id="ApproveList" class="tc">
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>
<script id="ApproveListTemplate" type="text/x-jsrender">
   {{for #data}}
      <tr>
        <td>{{:#index+1}}</td>
        <td>{{:Realname}}</td>
        <td>{{:SexStr}}</td>
        <td>{{:TrainGrade}}</td>
        <td>{{:DeptPath}}</td>
        <td>{{:IsManage=="1"?"是":"否"}}</td>
        <td>{{:ManageDeptName}}</td>
        <td>
           {{if ID>0}}
              <a class="icon idropassign" onclick="UpdateApproveUser({{:UserId}},1,{{:ID}});" title="取消审批人">取消审批人</a>
           {{else}}
              <a class="icon iaddassign" style="cursor:pointer" onclick="UpdateApproveUser({{:UserId}},0,{{:ID}});" title="指定审批人">指定审批人</a>
           {{/if}}
        </td>
    </tr>
   {{/for}}
</script>
<!-- 部门列表集合 -->
<script id="deptTemplate" type="text/x-jsrender">
    {{if type==0}}
    <fieldset id="mainDept">
        <legend>请选择要分配的部门：</legend>
        <ul id="deptList">
            {{for deptList}}
                <li><input type="checkbox" id="{{:DepartmentId}}"/>{{:DeptName}}</li>
            {{/for}}
        </ul>
    </fieldset>
    {{else}}
        <div class="tc">{{:message}}</div>
    {{/if}}
    <div class="tc mt10">
        <input type="button" class="btn" value="确定" id="btnSave"/>
        <input type="button" class="btn btn-cancel" value="取消" id="btncancell"/>
    </div>

</script>

<script type="text/javascript">
    var manageDepat = null;
    $(document).ready(function ()
    {
        //初始化查询条件
        initSearch();
        Getdata();

        //获取当前用户所管辖的部门
        $.getJSON('/TrainGradeManage/GetManageDepart', function (data)
        {
            manageDepat = data;
        });
    });

    function Getdata()
    {
        var v = "realName=" + escape($.trim(getSearchWord("txtName"))) + "&DeptName=" + escape($.trim(getSearchWord("txtDeptName")));
        $("#ApproveList").JsRenderData({
            sourceUrl: "/MyApproval/GetDepApproveList?" + v,
            isPage: true,
            pageSize: 10,
            pageIndex: 1,
            templateID: "ApproveListTemplate"
        });
    }

    function UpdateApproveUser(userID, type,ID)
    {
        var content = "";
        content = $("#deptTemplate").render({ type: type, deptList: manageDepat.deptList, message: '确认取消其审批人的身份？' });
        art.dialog({ title: type == 1 ? "选择授权的部门" : "小提示", content: content, id: 'win_deptmanage' });
        $("#btnSave").bind("click", function ()
        {
            var selectDept = '';
            if (type == 0)
            {
                if ($("#deptList input:checked").length > 0)
                {
                    $("#deptList input:checked").each(function ()
                    {
                        selectDept += selectDept == "" ? $(this).attr('id') : (',' + $(this).attr('id'));
                    });
                } else
                {
                    art.dialog.tips("请选择所要管理的部门", 3);
                    return;
                }

                $.getJSON("/MyApproval/AddApproveUser?userID=" + userID + "&IsManage=" + type + '&selectDept=' + selectDept, function (data)
                {
                    if (data.result == 1)
                    {
                        Getdata();
                        art.dialog.list['win_deptmanage'].close();
                    } else
                    {
                        art.dialog.tips("授权失败", 3);
                    }
                });
            }
            else
            {
                $.getJSON("/MyApproval/DeleteApprove?ID=" + ID, function (data)
                {
                    if (data.result == 1)
                    {
                        Getdata();
                        art.dialog.list['win_deptmanage'].close();
                    } else
                    {
                        art.dialog.tips("取消授权失败", 3);
                    }
                });
            }

        });
        $("#btncancell").bind("click", function ()
        {
            art.dialog.list['win_deptmanage'].close();
        });
    }
</script>

