@{
    ViewBag.Title = "Free_Approve";
    Layout = null;
    var flag = Request.QueryString["flag"] ?? "0";
}

<div class="main-c">
    <div class="tab-bk mt10">
        <ul id="tagapprove">
            <li class="On" id="approve0">其他形式审批</li>
            <li id="approve1">免修审批</li>
            <li id="approve2">其他有组织形式审批</li>
        </ul>
    </div>
    <div id="div_approve">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {
        showTab(@flag);
    });

    $("#tagapprove li").click(function ()
    {
        var index = $(this).index();
        showTab(index);
    });

    function showTab(index)
    {
        $("#tagapprove li").removeClass("On");
        $("#approve" + index).addClass("On");
        switch (parseInt(index))
        {
            case 0://其他形式审批
                $("#div_approve").load("Free_OtherApprove");
                break;
            case 1://免修审批
                $("#div_approve").load("Free_FreeApprove");
                break;
            case 2://其他有组织形式审批
                $("#div_approve").load("Free_OtherOrg");
                break;
        }
    }
</script>
