@using LiXinLanguage
@using System.Configuration
@{
    Layout = null;
    string cid = Request.QueryString["id"] == null ? "0" : Request.QueryString["id"];
    string did = Request.QueryString["did"] == null ? "0" : Request.QueryString["did"];
    string way = Request.QueryString["way"] == null ? "0" : Request.QueryString["way"];
}
<div class="centerbody">
    <form id="formattend" method="post" enctype="multipart/form-data" action="">
    <div class="ma">
        <table class="tab-Form">
            <tr>
                <td class="Tit span8">1.下载模版</td>
                <td>
                    <input type="button" class="btn btn-co" id="OutExcel" name="OutExcel" onclick="OutData();" value="下载" />
                </td>
            </tr>
            <tr>
                <td class="Tit span8">2.选择文件</td>
                <td>
                    <input type="file" id="attendExcel" name="attendExcel"  />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span class="c99 tc">可选的文件格式为：*.xls; *.xlsx</span>
                </td>
            </tr>
            <tr>
                <td class="tc" colspan="2">
                    <input type="button" id="btnUpload" class="btn btn-co mt10" flag="0" value="提交" />
                    <input type="button" class="btn mt10 ml10" flag="0" onclick="art.dialog.list['Inputatt'].close();" value="取消" />
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnUpload").click(function () {
            if ($("#attendExcel").val() != null && $("#attendExcel").val() != "") {
                var strpic = $("#attendExcel").val();
                var pos = strpic.lastIndexOf(".");
                var lastname = strpic.substring(pos, strpic.length);
                var resultName = lastname.toLowerCase();
                var xls = ".xls";
                var xlsx = ".xlsx";
                if (xls == resultName || xlsx == resultName) {
                    $("#formattend").submitForm({
                        url: "/DepAttendce/SubmitImportAtt?cid=@(cid)&way=@(way)&did=@(did)&t=" + new Date(),
                        //dataType: "json",
                        callback: function (data) {
                            if (data.result == 1) {
                                art.dialog.list['Inputatt'].close();
                                art.dialog.tips(data.content, 3);
                                InitList(getUrl());
                            } else {
                                art.dialog.tips(data.content, 3);
                                $("#attendExcel").val("");
                            }
                        }
                    }).submit();
                } else {
                    art.dialog.tips("只能上传.xls、.xlsx格式的文件，您上传的文件类型为" + lastname + "，请重新上传", 3);
                    return;
                }
            } else { art.dialog.tips("请选择考勤模板", 3); }
        });
    });

    //下载模板
    function OutData() {
        window.location.href = "/DepAttendce/OutTemplate?t=" + new Date();
    }
</script>
